{% load jmbo_template_tags %}

<div class="item">
    <a href="{{ object.get_absolute_category_url }}" class="intro-pic"><img src="{% if object.image %}{{ object.get_thumb_url }}{% else %}{{ STATIC_URL }}mama/img/defaults/{{ object.pk|get_digit:"1" }}.png{% endif %}"></a>
    <div class="meta">
        <div class="title"><a href="{{ object.get_absolute_category_url }}">{{ object.title }}</a></div>
        <div class="stamp">
            {% if object.description %}
                {{ object.description }}
            {% else %}
                {% humanize_time_diff object.created "Ago" %} // {{ object.comment_count }} Comments
            {% endif %}
        </div>
    </div>
</div>
