{% load jmbo_template_tags %}

<div class="item">
    <a href="{{ object.get_absolute_category_url }}" class="intro-pic">{% if object.image %}<img src="{{ object.get_thumb_url }}">{% endif %}</a>
    <div class="meta">
        <div class="title"><a href="{{ object.get_absolute_category_url }}">{{ object.title }}</a></div>
        <div class="stamp">
            {% if object.description %}
                {{ object.description|truncatewords:10 }}
            {% else %}
                {% humanize_time_diff object.created "Ago" %} // {{ object.comment_count }} Comments
            {% endif %}
        </div>
    </div>
</div>
