{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="h1">{% trans "Contact AFW" %}</div>
<form method="post" id="frmContact" action="{% url contact %}">
{% csrf_token %}

{% if form.errors or form.non_field_errors %}
<div class="errors">
    <p>{% trans "Oops, please make sure of the following:" %}</p>
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
</div>
{% endif %}

<form method="post" id="frmLogin" action="{% url password_reset %}">
{% csrf_token %}
    {% if request.user.is_anonymous %}
        <div class="row">
            {{ form.mobile_number.label_tag }}
            {% if form.mobile_number.errors %}
                <div class="errors">
                    {% for error in form.mobile_number.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.mobile_number }}
        </div>
    {% endif %}
    <div class="row">
        {{ form.message.label_tag }}
        {% if form.message.errors %}
            <div class="errors">
                {% for error in form.message.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.message }}
    </div>
    <div class="row">
        <input type="submit" name="submit" value='{% trans "Send"%}' class="btn" />
        {% if request.user.is_authenticated %}
            <input type="hidden" name="mobile_number" value="{{ request.user.profile.mobile_number }}" />
        {% endif %}
    </div>
    <div class="clear"></div>
</form>
{% endblock %}
