{% extends "base.html" %}

{% block content %}
<div class="h1">My Profile</div>
{% if form.errors or form.non_field_errors %}
<div class="errors">
    <p>Oops, please make sure of the following:</p>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endif %}

<form method="post" id="frmProfileEdit" action="" class="profile" enctype="multipart/form-data">
{% csrf_token %}
  <div class="profile-details">
    <span class="avatar">
      {% if avatar %}
        <img src="{{ avatar }}" width="44" height="44" />
      {% else %}
        <img src="{{ STATIC_URL }}img/user.jpg" width="44" height="44" />
      {% endif %}
    </span>
    <div class="profile-details-name">Edit your Profile</div><!-- 
    <div class="profile-details-name">Surname</div> -->
  </div>
  
  {{ form.username }}
  
  {% if form.username.errors %}
    <div class="errors">
        {% for error in form.username.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}

  <label for="last_name" class="label-wide">{{ form.last_name.label_tag }}
    <!-- <input type="text" class="input-wide" name="surname" id="surname" /> -->
    {{ form.last_name }}
  </label>
  {% if form.last_name.errors %}
    <div class="errors">
        {% for error in form.last_name.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}

  <label for="surname" class="label-wide">{{ form.mobile_number.label_tag }}
    <!-- <input type="text" class="input-wide" name="surname" id="surname" /> -->
    {{ form.mobile_number }}
    e.g. 14034228916
  </label>
  {% if form.mobile_number.errors %}
    <div class="errors">
        {% for error in form.mobile_number.errors %}
            <p>{{ error|safe }}</p>
        {% endfor %}
    </div>
  {% endif %}


  <label for="surname" class="label-wide">{{ form.engage_anonymously.label_tag }}
    <!-- <input type="text" class="input-wide" name="surname" id="surname" /> -->
    {{ form.engage_anonymously }}
  </label>
  {% if form.engage_anonymously.errors %}
    <div class="errors">
        {% for error in form.engage_anonymously.errors %}
            <p>{{ error|safe }}</p>
        {% endfor %}
    </div>
  {% endif %}




    <div class="row">
        <label for="id_avatar">Upload your picture:</label>
        {{ form.image }} <!--Added by TAG-->
        {% comment %}
        {{ form.avatar.label_tag }}
        {% if form.avatar.errors %}
            <div class="errors">
                {% for error in form.avatar.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.avatar }}
        {% endcomment %}
        {% if form.default_avatars %}
        <div style="float: left">
            <label for="id_avatar">Choose an avatar:</label>
            {% for avatar in form.default_avatars %}
            <input type="radio"
                   name="default_avatar_id"
                   value="{{ avatar.id }}" />
            <img src="{{ avatar.image.url }}" width="32" height="32" />
            {% endfor %}
        </div>
        {% endif %}
    </div>

  <input type="submit" value="Update profile" class="btn btn-wide">
</form>

{% endblock %}

{% block footer %}

{% endblock %}

