{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" id="frmProfileEdit" action="" class="profile" enctype="multipart/form-data">
{% csrf_token %}
  <div class="profile-details">
    <span class="avatar">
      {% if form.avatar.value %}
        <img src="{{ MEDIA_URL }}{{ form.avatar.value }}" width="44" height="44" />
      {% else %}
        <img src="{{ STATIC_URL }}img/user.jpg" width="44" height="44" />
      {% endif %}
    </span>
    <div class="profile-details-name">{% trans "Edit your Profile" %}</div>
  </div>

  {% if form.errors or form.non_field_errors %}
    <p>{% trans "Oops, please make sure of the following:" %}</p>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
  {% endif %}
  <label for="user_name" class="label-wide">{{ form.username.label_tag }}
    {{ form.username }}
  </label>
  {{ form.email }}
  {% if form.username.errors %}
    <div class="errors">
        {% for error in form.username.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}

  <label for="first_name" class="label-wide">{{ form.first_name.label_tag }}
    {{ form.first_name }}
  </label>
  {% if form.first_name.errors %}
    <div class="errors">
        {% for error in form.first_name.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}

  <label for="last_name" class="label-wide">{{ form.last_name.label_tag }}
    {{ form.last_name }}
  </label>
  {% if form.last_name.errors %}
    <div class="errors">
        {% for error in form.last_name.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}

    <label for="alias" class="label-wide">{{ form.alias.label_tag }}
    {{ form.alias }}
  </label>
  {% if form.alias.errors %}
    <div class="errors">
        {% for error in form.alias.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}

  <label for="id_gender">{% trans "Gender" %}
    {{ form.gender }}
  </label>

  <label for="id_year_of_birth" class="label-wide">{{ form.year_of_birth.label_tag }}
    {{ form.year_of_birth }}
  </label>
  {% if form.year_of_birth.errors %}
    <div class="errors">
        {% for error in form.year_of_birth.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
  {% endif %}
  <label for="id_identity" class="label-wide">{{ form.identity.label_tag }}
    {{ form.identity }}
  </label>

  <label for="surname" class="label-wide">{{ form.mobile_number.label_tag }}
    {{ form.mobile_number }}
    <br />e.g. 14034228916
  </label>
  {% if form.mobile_number.errors %}
    <div class="errors">
        {% for error in form.mobile_number.errors %}
            <p>{{ error|safe }}</p>
        {% endfor %}
    </div>
  {% endif %}


  <label for="surname" class="label-wide">{{ form.engage_anonymously.label_tag }}
    {{ form.engage_anonymously }}
  </label>
  {% if form.engage_anonymously.errors %}
    <div class="errors">
        {% for error in form.engage_anonymously.errors %}
            <p>{{ error|safe }}</p>
        {% endfor %}
    </div>
  {% endif %}


    <div class="avatar-upload">
    <div>{% trans "Upload your picture:" %}</div>
    {% if form.avatar.errors %}
        <div class="errors">
            {% for error in form.avatar.errors %}
                <p>{{ error|safe }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {{ form.avatar }}
    </div>
    {% if form.default_avatars %}
        <label for="id_avatar">{% trans "Choose an avatar:" %}</label>
        {% for avatar in form.default_avatars %}
        <input type="radio"
               name="default_avatar_id"
               value="{{ avatar.id }}" />
        <img src="{{ avatar.image.url }}" width="32" height="32" />
        {% endfor %}
    {% endif %}
    <p></p>
  <input type="submit" value='{% trans "Update profile" %}' class="btn btn-wide">
</form>

{% endblock %}

{% block footer %}

{% endblock %}

