{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="padded-page">
    <h3>{% trans "Enter New PASSWORD" %}</h3>
    {% if form.errors or form.non_field_errors %}
    <div class="errors">
        <p>{% trans "Oops, please make sure of the following:" %}</p>
        {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
        {% endif %}
    </div>
    {% endif %}

    {% if validlink %}
    <form method="post" id="frmLogin" action="">
    {% csrf_token %}
        <p>{% trans "Please enter your new PASSWORD twice so we can verify you typed it in correctly." %}</p>
        {{ form.new_password1.label_tag }}
        {% if form.new_password1.errors %}
            <div class="errors">
                {% for error in form.new_password1.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.new_password1 }}
        {{ form.new_password2.label_tag }}
        {% if form.new_password2.errors %}
            <div class="errors">
                {% for error in form.new_password2.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.new_password2 }}
        <input type="submit" name="submit" value='{% trans "Reset" %}' class="btn" />
    </form>
    {% else %}
        <p><strong>Oops!</strong></p>
        <p>{% trans "The PASSWORD reset link was invalid, possibly because it has already been used." %} <a href="{% url reset_password_email %}">{% trans "Please request a new PASSWORD reset." %}</a></p>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}
