{% extends 'base.html' %}

{% block content %}
<form method="post" id="frmLogin" action="{% url reset_password_email %}" class="padded-page">
    <h3>Reset Password</h3>
    {% if form.errors or form.non_field_errors %}
    <div class="errors">
        <p>Oops, please make sure of the following:</p>
        {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
        {% endif %}
    </div>
    {% endif %}

    {% csrf_token %}
    <p>Please enter your email and we will send you a new password.</p>
    {{ form.email.label_tag }}
    {% if form.email.errors %}
        <div class="errors">
            {% for error in form.email.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {{ form.email }}
    <br/><br/>
    <input type="submit" name="submit" value="Send" class="btn" />
</form>
{% endblock %}

{% block footer %}
{% endblock %}
