{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="h1">{{ alias }}&apos;s {% trans "Profile" %}</div>
<div class="content-inner">
  <div class="post">
    {% if avatar %}
        <img src="{{ avatar }}" width="44" height="44" />
    {% endif %}
    <div class="stamp"> 
      {{ alias }}<br/>
      <a href="{% url public_user_comments user_id %}">
          {{ comments }} {% trans "Comments" %}
      </a> {% trans "Made" %}<br/>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_search_form %}
{% endblock %}
