{% extends 'base.html' %}
{% load i18n %}

{% load mama_inclusion_tags %}
{% load likes_inclusion_tags %}
{% load moderator_inclusion_tags %}

{% block content %}
{{ block.super }}

<div class="{{ category.color }} padded-page">
    <h3> {% trans "More comments for" %} {{ post.title }} </h3>

    {% if object_list %}
        <ul class="comment-list">
        {% for comment in object_list %}
          <li class="comment">
            <span class="avatar">
              <img src="{{ STATIC_URL }}img/img_holder_s.png" alt="{{ comment.name }}"/>
            </span>

            <span class="comment-meta">
              <span class="comment-author">{{ comment.name }}</span> - {{ comment.submit_date }}
            </span>

            {% if comment.is_removed and comment.user.profile.banned %}
            <p>{% trans "This comment has been reported by the community and the user has been banned" %}<br><br/>
              {% trans "Don't know the commenting rules?"%}" <a href="{% url comment-terms %}">{% trans "Read them here" %}</a></p>
            {% elif comment.is_removed and not comment.user.profile.banned %}
             <p>{% trans "This comment has been removed" %}<br><br/>
              {% trans "Don't know the commenting rules?" %}" <a href="{% url comment-terms %}">{% trans "Read them here" %}</a></p>
            {% else %}
            <p>{{ comment.comment|linebreaks }}</p>
            {% endif %}

              {% if not comment.user.is_staff and comment.user != request.user and request.user.is_authenticated %}
                  {% if not comment.is_removed %}
                    <ul class="comment-actions nav list-inline">
                      <li><a href="{% url confirm_comment comment.content_type comment.id %}?next={{request.path}}">{% trans "Report" %}</a></li>
                    </ul>
                  {% endif %}
              {% endif %}
          </li>

            {% for commentreply in comment.replied_to_comments_set.all %}
              <li class="comment">
                <span class="avatar">
                  <img src="{{ STATIC_URL }}img/img_holder_s.png" alt="{{ comment.name }}"/>
                </span>

                <span class="comment-meta">
                <span class="comment-author">{{ commentreply.user.first_name }}</span></span>
                <p>{{ commentreply.comment_text|linebreaks }}</p>
              </li>
            {% endfor %}
        {% empty %}
            <li class="comment">
                <p>{% trans "No comments yet." %}</p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% pagination page_obj %}

    <a href="{% url category_object_detail category.slug post.slug %}" class="btn btn-wide">
        &laquo; {% trans "Back to" %} {{ post.title }}
    </a>
</div>
{% endblock %}

