{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form action="" class="profile">
  <div class="profile-details">
    <span class="avatar">
      {% if avatar %}
        <img src="{{ avatar }}" width="44" height="44" />
      {% else %}
        <img src="{{ STATIC_URL }}img/user.jpg" width="44" height="44" />
      {% endif %}
    </span>
    <div class="profile-details-name">{{ username }}</div><!--
    <div class="profile-details-name">Surname</div> -->
  </div>
  <p>{% trans "Profile details" %}</p>
  {% if mobile_number %}
  <label for="name" class="label-wide">{% trans "Mobile Number:" %}
    {{ mobile_number }}
  </label>
  {% endif %}
    <label for="name" class="label-wide">{% trans "Name:" %}
    {{ first_name }}
  </label>
  <label for="name" class="label-wide">{% trans "Surname:" %}
    {{ last_name }}
  </label>
  <label for="name" class="label-wide">{% trans "Display Name:" %}
    {{ alias }}
  </label>
  <label for="name" class="label-wide">{% trans "Gender:" %}
    {{ gender }}
  </label>
  <label for="name" class="label-wide">{% trans "Year of Birth:" %}
    {{ year_of_birth }}
  </label>
      <label for="name" class="label-wide">{% trans "Identity:" %}
    {{ identity }}
  </label>
  <a href="{% url edit_my_profile %}" class="btn btn-wide"><input type="button" value='{% trans "Edit My Profile" %}' class="btn btn-wide" /></a>
  <br/>
  <a href="{% url reset_password_email %}" class="btn btn-wide"><input type="button" value='{% trans "Reset My PIN" %}' class="btn btn-wide" /></a>
</form>

{% endblock %}

{% block footer_search_form %}
{% endblock %}
