{% extends "base.html" %}

{% block content %}

<form action="" class="profile">
  <div class="profile-details">
    <span class="avatar">
      {% if avatar %}
        <img src="{{ avatar }}" width="44" height="44" />
      {% else %}
        <img src="{{ STATIC_URL }}img/user.jpg" width="44" height="44" />
      {% endif %}
    </span>
    <div class="profile-details-name">{{ username }}</div><!-- 
    <div class="profile-details-name">Surname</div> -->
  </div>
  <p>Profile details</p>
  {% if mobile_number %}
  <label for="name" class="label-wide">Mobile Number:
    {{ mobile_number }}
  </label>
  {% endif %}
  <label for="name" class="label-wide">Surname:
    {{ sur_name }}
  </label>
   <label for="name" class="label-wide">About Me:
    {{ about_me }}
  </label>
  <a href="{% url edit_my_profile %}" class="btn btn-wide"><input type="button" value="Edit My Profile" class="btn btn-wide" /></a>
  <br/>
  <a href="{% url password_reset %}" class="btn btn-wide"><input type="button" value="Reset My Password" class="btn btn-wide" /></a>
</form>

{% endblock %}

{% block footer_search_form %}
{% endblock %}
