{% load comments %}
{% load likes_inclusion_tags %}
{% load moderator_inclusion_tags %}
{% load pml_inclusion_tags %}

{% if weeks_ago == 0 %}
  {% if can_render_comment_form and askmama_can_vote %}
  <MODULE>
    <CONTAINER type="data">
      <TEXT>
        <p>
        <br/>
          <LINK href="{% url ask_expert_question lead_in_post.id %}">
            <TEXT>Ask your question &#187;</TEXT>
          </LINK>
        <br/>
        </p>
      </TEXT>
    </CONTAINER>
  </MODULE>
  {% endif %}
  {% if questions.number == 1 %}
    {% banner "{{ STATIC_URL }}mama/img/top_10_questions.jpg" %}
  {% endif %}
{% endif %}

{% if weeks_ago > 1 %}
<MODULE>
  <CONTAINER type="data">
    <TEXT>
      <p>
      {% if sort == 'pop' %}
      <LINK href="{% url askmama_detail %}?wk=2&amp;sort=date">
        <TEXT>Latest</TEXT>
      </LINK> | Popular |
      <LINK href="{% url askmama_detail %}?wk=2&amp;sort=alph">
        <TEXT>Alphabetical</TEXT>
      </LINK>
      {% else %}
        {% if sort == 'date' %}
          Latest |
          <LINK href="{% url askmama_detail %}?wk=2&amp;sort=pop">
            <TEXT>Popular</TEXT>
          </LINK> |
          <LINK href="{% url askmama_detail %}?wk=2&amp;sort=alph">
            <TEXT>Alphabetical</TEXT>
          </LINK>
        {% else %}
          <LINK href="{% url askmama_detail %}?wk=2&amp;sort=date">
            <TEXT>Latest</TEXT>
          </LINK> |
          <LINK href="{% url askmama_detail %}?wk=2&amp;sort=pop">
            <TEXT>Popular</TEXT>
          </LINK> | Alphabetical
        {% endif %}
      {% endif %}
      </p>
    </TEXT>
  </CONTAINER>
</MODULE>
{% endif %}

{% if weeks_ago == 0 and questions.number == 1 %}
<MODULE>
  <CONTAINER type="data">
    <TEXT>
      <p>
      <br/>
      <LINK href="{% url askmama_detail %}?wk=1">
        <TEXT>Read last week's top 10 &#187;</TEXT>
      </LINK>
      <br/>
      </p>
    </TEXT>
  </CONTAINER>
</MODULE>
{% endif %}

{% if weeks_ago == 1 %}
<MODULE backgroundColor="true" palette="MiDarkred">
  <HEADER>
    <LABEL>
      <LINK href="{% url askmama_detail %}">
        <TEXT>Ask MAMA</TEXT>
      </LINK> &#187; Last week's Q&amp;A
    </LABEL>
  </HEADER>
</MODULE>
{% endif %}

<MODULE backgroundColor="true" palette="MiDarkred">
  <HEADER id="comments">
    <LABEL>
    {% if weeks_ago == 0 %}
      {% if questions.number == 1 %}
      Top 10 Questions
      {% else %}
      More Questions
      {% endif %}
    {% else %}
      {% if weeks_ago == 1 %}
        {{ week_start|date:"d M Y" }}
      {% else %}
        Questions older than {{ week_end|date:"d M Y" }}
      {% endif %}
    {% endif %}
    </LABEL>
  </HEADER>
</MODULE>

<MODULE>

  {% for question in questions.object_list %}
    {% comment %}
    if we are on the current week's 1st page, show the top 10 questions
    with a different coloured background. (Not in vlive)
    {% endcomment %}

    <CONTAINER type="data">
      <TEXT>
        <p>
        {% if question.replied_to_comments_set.count > 0 %}
        <LINK href="{% url askmama_answer_detail question.id %}">
          <TEXT>{{ question.comment|linebreaks }}</TEXT>
        </LINK>
        {% else %}
          {{ question.comment|linebreaks }}
        {% endif %}
        {% if askmama_can_vote %}
        {% likes question template='likes/inclusion_tags/votes.html' %}
        {% endif %}
        </p>
      </TEXT>
    </CONTAINER>

    {% if weeks_ago == 0 and questions.number == 1 and forloop.counter == 10 %}
      {% comment %}
      If we are on the current week's first page, break the loop after the
      top 10 questions to add a link to the question form, and a heading
      above the rest of the questions.
      {% endcomment %}

      </MODULE>
      {% if can_render_comment_form and askmama_can_vote %}
        <MODULE>
          <CONTAINER type="data">
            <TEXT>
              <p>
              <br/>
              <LINK href="{% url ask_expert_question lead_in_post.id %}">
              <TEXT><b>Ask your question &#187;</b></TEXT>
              </LINK>
              <br/>
              </p>
            </TEXT>
          </CONTAINER>
        </MODULE>
      {% endif %}
      {% header text='More Questions' color="darkred" %}
      <MODULE>
        <CONTAINER type="data">
          <TEXT>
            <p>
               {% if askmama_can_vote %}
                    Vote for these questions to move them up to the top 10
                    list.
                    {% else %}
                          Voting for questions has closed for this week
                    {% endif %}
              <br/>
            </p>
          </TEXT>
        </CONTAINER>
      </MODULE>
      <MODULE>
    {% endif %}

  {% empty %}

    <CONTAINER type="data">
      <TEXT>
        <p>
        <br/>
        No questions have been asked yet.
        <br/>
        </p>
      </TEXT>
    </CONTAINER>

  {% endfor %}

  {% if questions.has_other_pages %}
  <CONTAINER type="data">
    <TEXT>
    {% if questions.has_previous %}
    <LINK href="?page={{ questions.previous_page_number }}&amp;wk={{ weeks_ago }}&amp;sort={{ sort }}"><TEXT>&#171; Prev</TEXT></LINK>
    {% else %}
    &#171; Prev
    {% endif %}
    |
    Page {{ questions.number }} of {{ questions.paginator.num_pages }}
    |
    {% if questions.has_next %}
    <LINK href="?page={{ questions.next_page_number }}&amp;wk={{ weeks_ago }}&amp;sort={{ sort }}"><TEXT>Next &#187;</TEXT></LINK>
    {% else %}
    Next &#187;
    {% endif %}
    </TEXT>
  </CONTAINER>
  {% endif %}

  {% if weeks_ago == 0 %}
    {% if not can_render_comment_form %}
      {% if can_comment_code == 'auth_required' %}
        <CONTAINER type="data">
          <TEXT>
          <p>You must be signed in to submit your own question.</p>
          <p>
            <LINK href="{% url login %}?next={% url askmama_detail %}">
              <TEXT>Sign in &#187;</TEXT>
            </LINK>
          </p>
          </TEXT>
        </CONTAINER>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if weeks_ago > 0 %}
    <CONTAINER type="data">
      <TEXT>
      <p>
      <strong>
        <LINK href="{% url askmama_detail %}">
          <TEXT>&#171; Back to Ask MAMA</TEXT>
        </LINK>
      </strong>
      </p>
      </TEXT>
    </CONTAINER>
  {% endif %}
</MODULE>
