{% load comments jmbo_inclusion_tags pml_inclusion_tags mama_inclusion_tags %}

{% if comment_count or can_render_comment_form %}
    {% if object.comments_enabled %}

        {% header text="{{ comment_count }} Comments" color="orange" %}

        {% for comment in page_comments %}
            {% render_object comment 'inline' %}
        {% endfor %}

        {% pagination page_comments %}

        {% if can_render_comment_form %}
            {% render_comment_form for object %}
        {% endif %}

    {% endif %}
{% endif %}
