{% extends 'base.html' %}

{% block content %}
  <div class="h1">Your Baby</div>
  <div class="content-inner">
    <div class="items">
      <div class="item no-pic">
        <div class="meta">
          You haven&apos;t entered a due date yet. Please enter one so we can
          provide you with stage based information unique to your baby.
        </div>
      </div>
      <form method="POST" action="{% url update_due_date %}">
        {% csrf_token %}
        <div class="row shorter">
            {{ form.due_date.label_tag }}
            {% if form.due_date.errors %}
                <div class="errors">
                    {% for error in form.due_date.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.due_date }}
        </div>
        <div class="row">
            <input type="submit" name="submit" value="Save" class="btn" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
