{% extends 'base.html' %}

{% comment %}
Used for the AskMAMA section
{% endcomment %}

{% load mama_inclusion_tags %}
{% load mama_template_tags %}
{% load askmama_inclusion_tags %}
{% load livechat_tags %}
{% load comments %}

{% block following_header %}
{{ block.super }}
{% include "mama/inclusion_tags/registration_banner.html" %}
{% endblock %}

{% block content %}
<div class="items lightred">
    <div class="h1">
      {% mxit_title_bar foreground_color='#FFFFFF' background_color='#B22A2D' text=lead_in_post.title %}
 </div>
    </div>
<div class="post"><p>
    <strong>VOTE</strong> for the question you want answered from Friday to Tuesday morning. The doctor will answer the TOP 10
    questions as voted by all MAMA users.<br/>
    ASK your own question if nobody has asked it already.<br/>
    READ the doctors answers in AskMAMA Archive.</p>
</div>
    <div class="content-inner">
    <div class="items">
            <div class="item comment no-pic">
                <div class="meta">
                    <div class="stamp">PLEASE NOTE: The answers provided by our experts are not a substitute for
    medical advice. If you are concerned about your health or your baby’s health,
    visit a clinic for a medical diagnosis.</div>
                </div>
            </div>

    </div>
</div>

    {% favourite_questions_for_week lead_in_post weeks_ago cpage sort %}


{% endblock %}

