{% extends 'base.html' %}

{% block content %}
<h1>Contact MAMA</h1>
<form method="post" id="frmContact" action="{% url contact %}">
{% csrf_token %}

{% if form.errors or form.non_field_errors %}
<div class="errors">
    <p>Oops, please make sure of the following:</p>
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
</div>
{% endif %}

{% csrf_token %}
    {% if request.user.is_authenticated %}
    {% comment %} This is a dummy value to circumvent the number for mxit {% endcomment %}
    <input type="hidden" name="mobile_number" value="0123456789" />
    {% endif %}
    <div class="row">
        {{ form.message.label_tag }}
        {% if form.message.errors %}
            <div class="errors">
                {% for error in form.message.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.message }}
    </div>
    <div class="row">
        <input type="submit" name="submit" value="Send" class="btn" />
    </div>
    <div class="clear"></div>
</form>
{% endblock %}
