{% extends "base.html" %}

{% block content %}
<h1>My Profile</h1>
{% if form.errors or form.non_field_errors %}
<div class="errors">
    <p>Oops, please make sure of the following:</p>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endif %}

<div class="row">
    <div class="post">
        Update your profile page if you want to change your username or
        phone number. You can also add more info about yourself and baby.
    </div>
</div>

<form method="post" id="frmProfileEdit" action="">
{% csrf_token %}

    <h1>About Me</h1>
    <div class="row">
        {{ form.username.label_tag }}
        {% if form.username.errors %}
            <div class="errors">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.username }}
    </div>
    <div class="row">
        {{ form.mobile_number.label_tag }}
        {% if form.mobile_number.errors %}
            <div class="errors">
                {% for error in form.mobile_number.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.mobile_number }}
        e.g. 0719876543
    </div>
    <div class="row">
        {{ form.relation_to_baby.label_tag }}
        {% if form.relation_to_baby.errors %}
            <div class="errors">
                {% for error in form.relation_to_baby.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.relation_to_baby }}
    </div>
    <div class="row">
        {% comment %}
        {{ form.avatar.label_tag }}
        {% if form.avatar.errors %}
            <div class="errors">
                {% for error in form.avatar.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.avatar }}
        {% endcomment %}
        {% if form.default_avatars %}
        <div style="float: left">
            <label for="id_avatar">Choose an avatar:</label>
            {% for avatar in form.default_avatars %}
            <input type="radio"
                   name="default_avatar_id"
                   value="{{ avatar.id }}" />
            <img src="{{ avatar.image.url }}" width="32" height="32" />
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row" style="clear: both">
        {{ form.about_me.label_tag }}
        {% if form.about_me.errors %}
            <div class="errors">
                {% for error in form.about_me.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.about_me }}
    </div>
    <div class="row">
      <br/>
    </div>

    <h1>About My Baby</h1>
    <div class="row">
        {{ form.baby_name.label_tag }}
        {% if form.baby_name.errors %}
            <div class="errors">
                {% for error in form.baby_name.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.baby_name }}
    </div>
    {{ form.date_qualifier }}
    <div class="row shorter">
        {{ form.delivery_date.label_tag }}
        {% if form.delivery_date.errors %}
            <div class="errors">
                {% for error in form.delivery_date.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.delivery_date }}
    </div>
    <div class="row">
        {% if form.unknown_date.errors %}
            <div class="errors">
                {% for error in form.unknown_date.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.unknown_date }} {{ form.unknown_date.label }}
    </div>
    <div class="row">
        {% if form.baby_has_been_born.errors %}
            <div class="errors">
                {% for error in form.baby_has_been_born.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.baby_has_been_born }} {{ form.baby_has_been_born.label }}
    </div>
    <div class="row">
        <input type="submit" name="submit" value="Save" class="btn" />
    </div>
</form>

<h1>Reset Password</h1>
<div class="text_banner">
  <div class="banner_content">
    <p>
    <strong>
      <a href="{% url password_reset %}">Reset My Password &gt;</a>
    </strong>
    </p>
  </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}

