{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
{% if request.user.is_authenticated %}
    <div class="content-inner">
        <div class="post">
            <p><strong>Thanks!</strong></p>
            <p>You are now signed in. <a href="{% url home %}">Click here to continue to the homepage.</a></p>
        </div>
    </div>
{% else %}
{% if form.errors or form.non_field_errors %}
<div class="errors">
    <p>Oops, please make sure of the following:</p>
    {% if form.non_field_errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
</div>
{% endif %}

<form method="post" id="frmLogin" action="{% url login %}">
{% csrf_token %}
    <div class="row">
        {{ form.username.label_tag }}
        {% if form.username.errors %}
            <div class="errors">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.username }}
    </div>
    <div class="row">
        {{ form.password.label_tag }}
        {% if form.password.errors %}
            <div class="errors">
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.password }}
    </div>
    <div class="row">
        <input type="submit" name="submit" value="Login" class="btn" />
        <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% if form.errors %}{{ request.POST.next }}{% endif %}{% endif %}" />
    </div>
    <div class="clear"></div>
</form>
<p class="notice"><a href="{% url password_reset %}">Forgot your password?</a> Not registered? <a href="{% url registration_register %}">Sign up here.</a></p>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
