{% extends 'base.html' %}

{% block content %}
<h1>Enter New Password</h1>
{% if form.errors or form.non_field_errors %}
<div class="errors">
    <p>Oops, please make sure of the following:</p>
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
</div>
{% endif %}

{% if validlink %}
<form method="post" id="frmLogin" action="">
{% csrf_token %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <div class="row">
        {{ form.new_password1.label_tag }}
        {% if form.new_password1.errors %}
            <div class="errors">
                {% for error in form.new_password1.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.new_password1 }}
    </div>
    <div class="row">
        {{ form.new_password2.label_tag }}
        {% if form.new_password2.errors %}
            <div class="errors">
                {% for error in form.new_password2.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.new_password2 }}
    </div>
    <div class="row">
        <input type="submit" name="submit" value="Reset" class="btn" />
    </div>
    <div class="clear"></div>
</form>
{% else %}
    <div class="content-inner">
        <div class="post">
            <p><strong>Oops!</strong></p>
            <p>The password reset link was invalid, possibly because it has already been used. <a href="{% url password_reset %}">Please request a new password reset.</a></p>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
