{% extends 'base.html' %}

{% block content %}
  <h1>Your Baby</h1>
  <div class="content-inner">
    <div class="items">
      <div class="item no-pic">
        <div class="meta">
          You have not entered a due date yet. Please enter one so we can
          provide you with stage based information unique to your baby. Just type in the due date or birthdate of your baby (yyyy-mm-dd) and send.
        </div>
      </div>
      <form method="POST" action="{% url update_due_date %}">
        {% csrf_token %}
        <div class="row shorter">
            {% if form.due_date.errors %}
                <div class="errors">
                    {% for error in form.due_date.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.due_date }}
        </div>
        <div class="row">
            <input type="submit" name="submit" value="Save" class="btn" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
