Django==1.4.5
django-category==0.1
django-debug-toolbar
django-generate
django-google-analytics-app
django-google-credentials
django-haystack==1.2.7
django-preferences==0.0.6
django-sites-groups
django-snippetscream
django-south-admin
django-userprofile>=0.0.6
django-registration==0.8
django-ckeditor==4.0.2
gunicorn
-e git+https://github.com/praekelt/django-photologue.git@2.10.praekelt#egg=django-photologue
jmbo==0.5.5
jmbo-poll>=0.0.9
jmbo-post
celery==3.1.10
django-celery==3.1.10
kombu>3.0
photon
psycopg2
python-ambient
python-dateutil
python-memcached
south
Whoosh==2.4.1
django-celery-email
django-tastypie<0.10.0
mimeparse
django-moderator
requests
xmltodict
raven==5.0.0
mock
nose
django-nose
coverage
pytest
pytest-django
pytest-cov
pytest-xdist
jmbo-your-words==0.0.5
mama-survey==1.0.0
django-livechat==1.0.1
