{% extends 'base.html' %}

{% block content %}
<div class="over over-poll">
  <a href="#" class="over-text">
    <h3 class="article-title">Commenting Rules</h3>
  </a>
</div>
<article>
        The A4W community likes comments that show you’re as serious about yourself and your family’s future as we are.  But there are comments that we don’t like: swear words, dirty words, sexy-talk, pick-ups, come-ons, rudeness, abusiveness, racism, sexism, forcing your religious beliefs on others and posting your phone number or email address in the comments stream.<br><br/>
    <p><b>
    A4W operates on a zero tolerance basis when it comes to inappropriate use of our site.</b></p>
    <b>This means:</b><br/>
    1. Moderators will remove the comments we don’t like. If your comment is removed by a moderator you will be banned from commenting on A4W for 3 days.<br/>
    2. Any A4W user (yourself included) can remove comments that are offensive by clicking ‘Report’. If your comment is reported by another community member you will be banned from commenting on A4W for 1 day.<br><br/>
    Help keep A4W clean by abiding by the rules and reporting any inappropriate behaviour.<br/>
</article>
{% endblock %}
