{% load comments %}
{% load likes_inclusion_tags %}
{% load moderator_inclusion_tags %}
{% load i18n %}

{% if can_comment %}
    <div class="h1" id="comments">{% trans "Comments" %}</div>

    <div class="items">
      {% for comment in comments %}
          <div class="item comment no-pic">
              <div class="meta">
                  <div class="title">{{ comment.user_name }}</div>
                  <div class="stamp">{{ comment.submit_date }}
                    {% if not comment.user.is_staff %}
                      | {% likes comment %} {% report_comment_abuse comment %}
                    {% endif %}
                    </div>
                  <div class="stamp">{{ comment.comment|linebreaks }}</div>
              </div>
          </div>
      {% empty %}
          <div class="item comment no-pic">
              <div class="meta">
                  <div class="stamp">
                      {% trans "No comments yet." %}
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>

    {% if more_comments  %}
    <div class="post-menu">
        <div class="items">
            <div class="item-nav">
                <a href="{% url story_comments_list category.slug object.slug %}">
                    {% trans "More Comments" %} &raquo;
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    {% render_comment_form for object %}
{% endif %}
