{% load comments %}
{% load mama_inclusion_tags %}
{% load moderator_inclusion_tags %}
{% load i18n %}

{% if can_comment %}
<div class="comments highlight-quaternary" id="comments">
  <header class="comments-header">
    <a href="#add-comment" class="link-comments link-comments-alt">
    <i class="i i-comment i-comment-alt"></i>{{object.comment_count}} comments
    <span class="comment-add">+ {% trans "Add Yours" %}</span>
    </a>
  </header>

<ul class="comment-list">
{% for comment in comments %}
  <li class="comment">
    <span class="avatar">
    {% if comment.user.profile.avatar %}
      <img src="{{ comment.user.profile.avatar }}" alt="{{ comment.name }}" width="44" height="44" />
    {% else %}
      <img src="{{ STATIC_URL }}img/user.jpg" alt="{{ comment.name }}" width="44" height="44" />
    {% endif %}
    </span>

    <span class="comment-meta">
      <span class="comment-author">{{ comment.user_name }} </span> - {{ comment.submit_date }}
    </span>

    {% if comment.is_removed and comment.user.profile.banned %}
    <p>{% trans "This comment has been reported by the community and the user has been banned" %}<br><br/>
      {% trans "Don't know the commenting rules?" %} <a href="{% url comment-terms %}">{% trans "Read them here" %}</a></p>
    {% elif comment.is_removed and not comment.user.profile.banned %}
     <p>{% trans "This comment has been removed" %}<br><br/>
      {% trans "Don't know the commenting rules?" %} <a href="{% url comment-terms %}">{% trans "Read them here" %}</a></p>
    {% else %}
    <p>{{ comment.comment|linebreaks }}</p>
    {% endif %}

      {% if not comment.user.is_staff and comment.user != request.user and request.user.is_authenticated %}
          {% if not comment.is_removed %}
            <ul class="comment-actions nav list-inline">
              <li><a href="{% url confirm_comment comment.content_type comment.id %}?next={{request.path}}">{% trans "Report" %}</a></li>
            </ul>
          {% endif %}
      {% endif %}
  </li>

    {% for commentreply in comment.replied_to_comments_set.all %}
      <li class="comment">
        <span class="avatar">
          {% if commentreply.user.profile.avatar %}
            <img src="{{ commentreply.user.profile.avatar }}" alt="{{ commentreply.user.first_name }}" width="44" height="44" />
          {% else %}
            <img src="{{ STATIC_URL }}img/user.jpg" alt="{{ commentreply.user.first_name }}" width="44" height="44" />
          {% endif %}
        </span>

        <span class="comment-meta">
        <span class="comment-author">{{ commentreply.user.first_name }}</span></span>
        <p>{{ commentreply.comment_text|linebreaks }}</p>
      </li>
    {% endfor %}
{% empty %}
    <li class="comment">
        <p>{% trans "No comments yet." %}</p>
    </li>
{% endfor %}
</ul>

{% if more_comments  %}
<a href="{% url story_comments_list category.slug object.slug %}" class="btn btn-wide">{% trans "More Comments" %}</a>
{% endif %}
</div>
{% include 'app/includes/comments_new_system.html' %}
{% endif %}
