{% load comments %}
{% load mama_inclusion_tags %}
{% load moderator_inclusion_tags %}

{% if can_comment %}
<div class="comments highlight-quaternary">
  <header class="comments-header">
    <a href="#add-comment" class="link-comments link-comments-alt">
    <i class="i i-comment i-comment-alt"></i>{{object.comment_count}} comments
    <span class="comment-add">+ Add Yours</span>
    </a>
  </header>

<ul class="comment-list">
{% for comment in comments %}
  <li class="comment">
    <span class="avatar">
      <img src="{{STATIC_URL}}img/squitten-s.jpg" alt="A small square kitten">
    </span>

    <span class="comment-meta">
      <span class="comment-author">{{ comment.name }}</span> - {{ comment.submit_date }}
    </span>

    {% if comment.is_removed and comment.user.profile.banned %}
    <p>This comment has been reported by the community and the user has been banned<br><br/>
      Don't know the commenting rules? <a href="{% url comment-terms %}">Read them here</a></p>
    {% elif comment.is_removed and not comment.user.profile.banned %}
     <p>This comment has been removed<br><br/>
      Don't know the commenting rules? <a href="{% url comment-terms %}">Read them here</a></p>
    {% else %}
    <p>{{ comment.comment|linebreaks }}</p>
    {% endif %}

      {% if not comment.user.is_staff and comment.user != request.user and request.user.is_authenticated %}
          {% if not comment.is_removed %}
            <ul class="comment-actions nav list-inline">
              <li><a href="{% url confirm_comment comment.content_type comment.id %}?next={{request.path}}">Report</a></li>
            </ul>
          {% endif %}
      {% endif %}
  </li>

    {% for commentreply in comment.replied_to_comments_set.all %}
      <li class="comment">
        <span class="avatar">
          <img src="{{STATIC_URL}}img/squitten-s.jpg" alt="A small square kitten">
        </span>

        <span class="comment-meta">
        <span class="comment-author">{{ commentreply.user.first_name }}</span></span>
        <p>{{ commentreply.comment_text|linebreaks }}</p>
      </li>
    {% endfor %}
{% empty %}
    <li class="comment">
        <p>No comments yet.</p>
    </li>
{% endfor %}
</ul>

{% if more_comments  %}
<p class="cta"><a href="{% url story_comments_list category.slug object.slug %}">+ More Comments</a></p>
{% endif %}

{% include 'app/includes/comments_new_system.html' %}
{% endif %}
