{% extends "pml/base.xml" %}

{% load jmbo_inclusion_tags %}
{% load jmbo_template_tags %}
{% load comments %}
{% load moderator_inclusion_tags %}
{% load livechat_tags %}
{% load mama_inclusion_tags %}
{% load pml_inclusion_tags %}

{% block body %}
{% header 'LIVE CHAT ARCHIVE' %}

<MODULE>
    {% if livechats %}
    {% for livechat in livechats.object_list %}
    <CONTAINER type="data">
      <TEXT>
        <b>{{ livechat.title }}</b><br/>
         {{ livechat.expert }}<br/>
         {{ livechat.chat_starts_at.time }} on {{ livechat.chat_starts_at.date }}<br/><br/>
      </TEXT>

      {% for comment in livechat.comment_set %}
      {% if comment.livechatresponse_set.exists %}
        <TEXT>
          {% if comment.user %}
            {% with comment.user.profile as profile %}
              {% if profile.avatar %}
                <IMAGE href="{{ profile.avatar.url }}" align="left" width="44" height="44" />
              {% endif %}
            {% endwith %}
          {% endif %}

          {{ comment.name }} asked at {{ comment.submit_date.time }}
          {{ comment.comment|linebreaks }}<br/>
        </TEXT>


          {% for response in comment.livechatresponse_set.all %}
          <TEXT>
            <b>{{ response.author.first_name }} {{ response.author.last_name }}</b>
            replied to
            <b>{{ comment.name }}</b> at {{ response.updated_at.time }}<br/>
                    {{ response.response }}
          </TEXT>
          {% endfor %}
          <TEXT><br/>----</TEXT>
      {% endif %}
      {% endfor %}
    </CONTAINER>
    {% endfor %}

    <CONTAINER type="data">
      <TEXT>
      {% if livechats.has_previous %}
        <LINK href="?p={{livechats.previous_page_number}}&amp;answered={{answered}}&amp;popular={{popular}}"><TEXT>Previous</TEXT></LINK> |
      {% else %}
          Previous |
      {% endif %}
          Page {{ livechats.number }} of {{ livechats.paginator.num_pages }}
      {% if livechats.has_next %}
          | <LINK href="?p={{livechats.next_page_number}}&amp;answered={{answered}}&amp;popular={{popular}}">Next</LINK>
      {% else %}
          | Next
      {% endif %}
      </TEXT>
    </CONTAINER>

  {% else %}
    <CONTAINER type="data">
      <TEXT>
        No questions yet. Go ahead and ask a question.
      </TEXT>
    </CONTAINER>
  {% endif %}
</MODULE>
{% endblock %}

