{% extends 'pml/base.xml' %}

{% load jmbo_inclusion_tags mama_inclusion_tags pml_inclusion_tags %}

{% block above_content %}
    {% header text=full_heading color='grey' %}
    {% include 'mama/inclusion_tags/search_form.html' %}
{% endblock %}

{% block body %}
    {% with 'grey' as color %}

    {% if object_list %}
        {% for object in post_list %}
            {% render_object object "block" %}
        {% endfor %}
    {% endif %}

    {% pagination page_obj %}

    {% block below_listing %}
    {% endblock %}

    {% endwith %}
{% endblock %}

{% block footer_search_form %}
{% endblock %}
