{% extends 'pml/base.xml' %}

{% load cache %}
{% load jmbo_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load survey_inclusion_tags %}
{% load pml_inclusion_tags %}

{% block body %}
    {% with 'grey' as color %}
    {% cache 600 post_inline object.id %}
        {% header text=category.title color=color %}
        {% render_object object "inline" %}
    {% endcache %}

    {% post_EU_nutrition_quizzes object %}

    {% cache 3600 topic_listing category.slug %}
        {% topic_listing category.slug 1 %}
    {% endcache %}

    {% vlive_object_comments object %}
    {% endwith %}

{% endblock %}

{% block footer %}
    {% with 'grey' as color %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
