<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
{% load cache mama_inclusion_tags %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MAMA Mobile Community / {% if object %}{{ object.title }}{% else %}Week-by-week guide to pregnancy and infants{% endif %}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="description" content="{% if object %}{{ object.description }}{% else %}mama.unicore.io is a week-by-week guide to pregnancy, birth and early childhood. It was founded by the Mobile Alliance for Maternal Action to put the power of health in every mama's hand.{% endif %}">
    <meta name="keywords" content="moms,maternal,baby,pregnancy,pregnant,expectant,mama,askmama,ask,mother,pain,birth,help">
    <link href="{{ STATIC_URL }}mama/css/style.css?20140624" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}mama/css/unicore.css?20140624" rel="stylesheet" type="text/css" />
</head>
<body>
    {% block conversion_tracking %}
    {% endblock %}

    {% page_header %}

    {% block following_header %}
    {% endblock %}

    <div id="content">

        {% block above_content %}
        {% endblock %}

        {% block messages %}
        {% if messages %}
            <div class="content-inner">
                <div class="items">
                    <div class="item comment no-pic" style="background-color: #fee">
                        <div class="meta">
                            <div class="stamp">
                                <br/>
                                {% for message in messages %}
                                <p><strong>{{ message }}</strong></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            {% block footer_search_form %}
            <div class="h1">Search</div>
            <form id="frmSearch" method="get" action="{% url haystack_search %}">
                <div class="row"><input type="text" name="q" value="{{ query }}" class="short" /></div>
                <div class="row"><input type="submit" name="submit" value="Search" class="btn" /></div>
                <div class="clear"></div>
            </form>
            {% endblock %}

            <div class="h1">Share This Site</div>
            <div class="content-inner">
                <div class="social"><p>Share This:</p> <a href="http://twitter.com/home?status=MAMA - Mobile Alliance for Maternal Action http://zm.mama.unicore.io"><img src="{{ STATIC_URL }}mama/img/twitter.png" /></a> <a href="http://www.facebook.com/sharer.php?u=http://zm.mama.unicore.io&t=MAMA - Mobile Alliance for Maternal Action"><img src="{{ STATIC_URL }}mama/img/facebook.png" /></a></div>
            </div>
        {% endblock %}

    </div>

    <div id="divider"><img src="{{ STATIC_URL }}mama/img/divider.jpg" /></div>

    <div id="footer">
        <span>&copy; MAMA SA {% now "Y" %}</span><br />
        <a href="{% url about %}">About</a> | <a href="{% url terms %}">Terms</a> | <a href="{% url contact %}">Contact</a>
        {% if request.user.is_authenticated %}| <a href="{% url view_my_profile %}">My Profile</a> | <a href="{% url logout %}">Sign Out</a>{% else %}| <a href="{% url login %}">Sign In</a>{% endif %}
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40632967-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
