<form id="frmPoll" action="poll.html">
    <div class="title">Do you find it easy to read your baby's mind?</div>
    <div class="row"><input type="radio" name="poll" value="1" /> Yes</div>
    <div class="row"><input type="radio" name="poll" value="2" /> Sometimes</div>
    <div class="row"><input type="radio" name="poll" value="3" /> Hardly Ever</div>
    <div class="row"><input type="radio" name="poll" value="4" /> Never</div>
    <div class="row"><input type="submit" name="submit" value="Vote" class="btn" ></div>
</form>
