
                            <div class="item first last item-poll">
                                <div class="object-widget-inclusion poll-widget-inclusion">
                                    <div class="title">Do you find it easy to read your baby's mind? </div>
                                    <form action="poll.html">
                                        <div class="field">
                                            <div  class="required">  
                                                <div class="helptext"></div> 
                                                <div><label for="id_poll_option_0"><input type="radio" id="id_poll_option_0" value="46" name="poll_option" /> Yes</label></div>
                                                <div><label for="id_poll_option_1"><input type="radio" id="id_poll_option_1" value="47" name="poll_option" /> Sometimes</label></div>
                                                <div><label for="id_poll_option_2"><input type="radio" id="id_poll_option_0" value="48" name="poll_option" /> Hardly Ever</label></div>
                                                <div><label for="id_poll_option_3"><input type="radio" id="id_poll_option_1" value="49" name="poll_option" /> Never</label></div>
                                            </div>
                                        </div>
                                        <div class="buttons">
                                            <input type="submit" value="Vote" />
                                        </div>
                                    </form>
                                </div>
                            </div>
