{% extends 'base.html' %}

{% block content %}
<div class="h1">Register</div>
<div class="content-inner">
    <div class="post">
        <b>Thank you! You have been successfully registered.</b><br />
        Now go check out the <a href="{% url home %}">homepage.</a>
        <img width="1" height="1" style="border:0" src="http://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=259980&amp;ns=1&amp;mb=1&amp;dvc=<device>&amp;on=<operator>"/>
    </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}
