<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
{% load cache mama_inclusion_tags %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MAMA Mobile Community / {% if object %}{{ object.title }}{% else %}SA's week-by-week guide to pregnancy and infants{% endif %}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="description" content="{% if object %}{{ object.description }}{% else %}www.askmama.mobi is a week-by-week guide to pregnancy, birth and early childhood for South African mothers. It was founded by the Mobile Alliance for Maternal Action to put the power of health in every mama's hand.{% endif %}">
    <meta name="keywords" content="moms,maternal,baby,pregnancy,pregnant,expectant,mama,askmama,ask,mother,pain,birth,help">
    <link href="{{ STATIC_URL }}mama/css/style.css?20120709" rel="stylesheet" type="text/css" />
</head>
<body>
    {% block conversion_tracking %}
    {% endblock %}

    {% page_header %}

    {% block following_header %}
    {% endblock %}

    <div id="content">

        {% block above_content %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            {% block footer_search_form %}
            <div class="h1">Search</div>
            <form id="frmSearch" method="get" action="{% url haystack_search %}">
                <div class="row"><input type="text" name="q" value="{{ query }}" class="short" /></div>
                <div class="row"><input type="submit" name="submit" value="Search" class="btn" /></div>
                <div class="clear"></div>
            </form>
            {% endblock %}

            <div class="h1">Share This Site</div>
            <div class="content-inner">
                <div class="social"><p>Share This:</p> <a href="http://twitter.com/home?status=MAMA - Mobile Alliance for Maternal Action http://askmama.mobi"><img src="{{ STATIC_URL }}mama/img/twitter.png" /></a> <a href="http://www.facebook.com/sharer.php?u=http://askmama.mobi&t=MAMA - Mobile Alliance for Maternal Action"><img src="{{ STATIC_URL }}mama/img/facebook.png" /></a></div>
            </div>
        {% endblock %}

    </div>

    <div id="divider"><img src="{{ STATIC_URL }}mama/img/divider.jpg" /></div>

    <div id="footer">
        <span>&copy; MAMA SA {% now "Y" %}</span><br />
        <a href="{% url about %}">About</a> | <a href="{% url terms %}">Terms</a> | <a href="{% url contact %}">Contact</a> 
        {% if request.user.is_authenticated %}| <a href="{% url view_my_profile %}">My Profile</a> | <a href="{% url logout %}">Sign Out</a>{% else %}| <a href="{% url login %}">Sign In</a>{% endif %}
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8783026-40']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
