{% extends "base.html" %}
{% load cache %}
{% load jmbo_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load jmbo_template_tags %}
{% load likes_inclusion_tags %}
{% load livechat_tags %}
{% load survey_inclusion_tags %}

{% block content %}
<div class="over">
    {% if object.image %}
      <img src="{{ object.get_large_url }}" />
    {% else %}
      <img src="{{ STATIC_URL }}img/img_holder.png" alt="{{ object.title }}"/>
    {% endif %}
    {% if heading_style == 'light' %}
      <a href="#" class="over-text post-heading-overlay-light">
      <h3 class="article-title post-heading-title-color-light">{{ object.title }} </h3>
      {% elif heading_style == 'dark'%}
        <a href="#" class="over-text post-heading-overlay-dark">
        <h3 class="article-title post-heading-title-color-dark">{{ object.title }} </h3>
      {% else %}
        <a href="#" class="over-text">
        <h3 class="article-title">{{ object.title }}</h3>
    {% endif %}
    {% if object.subtitle %}
      {% if heading_style == 'light' %}
        <p class="post-heading-category-light">{{ object.subtitle }} </p>
      {% elif heading_style == 'dark'%}
        <p class="post-heading-category-dark">{{ object.subtitle }} </p>
      {% else %}
        <p>{{ object.subtitle }}</p>
      {% endif %}
    {% endif %}
  </a>
</div>

<header class="article-header">
  <div class="article-meta">
    <p class="article-date">{% humanize_time_diff object.publish_on "Ago" %}</p>
  </div>
  {% if object.comments_enabled %}
    <a href="#comments" class="link-comments link-comments-alt">
    <i class="i i-comment i-comment-alt"></i>{{ object.comment_count }}</a>
  {% endif %}
</header>
<article>
<p>{{ object.description }}</p>
{{ object.content|safe }}
</article>

<ul class="nav nav-social nav-social-share list-inline">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri|urlencode}}"><i class="i i-facebook-share"></i> <span class="visuallyhidden">Share on Facebook</span></a>
</li><li><a href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri|urlencode}}&text={{object.title}}%0adef{{ object.description}}"><i class="i i-twitter-share"></i> <span class="visuallyhidden">Share on Twitter</span></a>
</li><li><a href="mailto:?subject=A4W%20Live%20%7C%20{{object.title}}&amp;body={{object.title}}%0A{{object.description}}%0ARead%20more%20at%20{{request.build_absolute_uri|urlencode}}"><i class="i i-email-share"></i> <span class="visuallyhidden">Share via email</span></a>
</li>
</ul>
<br/>

{% if not READ_ONLY_MODE %}
{% mama_object_comments object %}
{% endif %}

{% if not READ_ONLY_MODE %}
    {% post_content_quizzes object %}
{% endif %}
{% endblock %}
