{% extends "base.html" %}
{% load cache %}
{% load jmbo_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load jmbo_template_tags %}
{% load likes_inclusion_tags %}
{% load livechat_tags %}
{% load survey_inclusion_tags %}

{% block content %}
<div class="over">
  {% if '<img' not in object.content %}
    {% if object.image %}
      <img src="{{ object.get_large_url }}" />
    {% else %}
      <img src="{{ STATIC_URL }}img/squitten.jpg" alt="{{ object.title }}">
    {% endif %}
  {% endif %}
  <a href="#" class="over-text">
    <h3 class="article-title">{{ object.title }}</h3>
    {% if object.description %}
    <p>
      {{ object.description }}
    </p>
    {% endif %}
  </a>
</div>

<header class="article-header">
  <div class="article-meta">
    <p class="article-author">{{object.subtitle}}</p>
    <p class="article-date">{% humanize_time_diff object.publish_on "Ago" %}</p>
  </div>
  {% if object.comments_enabled %}
    <a href="#comments" class="link-comments link-comments-alt">
    <i class="i i-comment i-comment-alt"></i>{{ object.comment_count }}</a>
  {% endif %}
</header>
<article>{{ object.content|safe }}</article>

{% if not READ_ONLY_MODE %}
{% mama_object_comments object %}
{% endif %}

{% if not READ_ONLY_MODE %}
    {% post_content_quizzes object %}
{% endif %}
{% endblock %}
