{% extends 'base.html' %}
{% load jmbo_inclusion_tags mama_inclusion_tags %}

{% block content %}
{% if request.GET.q %}
<h1>Search Results for '{{ query }}'</h1>
<div class="content-inner">
    {% if page.object_list %}
    <div class="items">
        {% for object in page.object_list %}
            {% if object.object %}

                   {% if object.object.content_type.name == "Post" %}
                    <div class="item comment no-pic">
              <div class="meta">
                <b>{{ object.object.content_object }}</b>
                <div class="stamp">{{ object.object.comment|linebreaks }}</div>
              </div>
              <div class="item comment" style="background-color: rgb(244, 229, 234);padding-left: 10px">
                  {% for response in object.object.replied_to_comments_set.all %}
                      <div class="meta">
                      <b>Answer</b>
                          <div class="stamp">{{ response.comment_text }}</div>
                      </div>
                  {% endfor %}
              {% endif %}

              {% if object.object.content_type.name == "Live Chat" %}
                  <div class="item comment no-pic">
              <div class="meta">
                <b>{{ object.object.content_object.content_type.name }}</b>
                <div class="stamp">{{ object.object.comment|linebreaks }}</div>
              </div>
              <div class="item comment" style="background-color: rgb(244, 229, 234);padding-left: 10px">
                  {% for response in object.object.livechatresponse_set.all %}
                      <div class="meta">
                      <b>Answer</b>
                          <div class="stamp">{{ response.response }}</div>
                      </div>
                  {% endfor %}
              {% endif %}

              {% if object.verbose_name == "Comment reply" %}
                  <div class="item comment no-pic">
                {% for response in object.object.replied_to_comments.all %}
              <div class="meta">
                <b>{{ response.content_object }}</b>
                <div class="stamp">{{ response.comment }}</div>
              </div>
              {% endfor %}
              <div class="item comment" style="background-color: rgb(244, 229, 234);padding-left: 10px">

                      <div class="meta">
                      <b>Answer</b>
                          <div class="stamp">{{ object.object.comment|linebreaks }}</div>
                      </div>

              {% endif %}

              {% if object.object.livechat.content_type.name == "Live Chat" %}
                  <div class="item comment no-pic">
              <div class="meta">
                <b>{{ object.object.livechat.content_type.name }}</b>
                <div class="stamp">{{ object.object.comment.comment }}</div>
              </div>
              <div class="item comment" style="background-color: rgb(244, 229, 234);padding-left: 10px">

                      <div class="meta">
                      <b>Answer</b>
                          <div class="stamp">{{ object.object.response|linebreaks }}</div>
                      </div>

              {% endif %}

              </div>
                {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div class="post">
        <p><strong>Try Again...</strong></p>
        <p>Unfortunately no results were found for '{{ query }}'. Please try again with a different query.</p>
    </div>
    {% endif %}
</div>

{% pagination page %}
{% endif %}
<div id="search">
    <p>Type in what you want to search for</p>
    <form name="search-form" action="{% url haystack_search_askmama %}" method="get">
        <input type="text" name="q" class="txt"{% if request.GET.q %} value="{{ request.GET.q }}"{% endif %} />
        <input type="submit" name="search-btn" value="Search" />
    </form>
</div>
{% endblock %}

{% block searchlink %}{% endblock %}
