{% extends "pml/base.xml" %}

{% load comments %}
{% load likes_inclusion_tags %}
{% load moderator_inclusion_tags %}
{% load pml_inclusion_tags %}

{% block body %}

<MODULE backgroundColor="true" palette="MiMaroon">
  <HEADER id="comments">
    <LABEL>
    <LINK href="{% url askmama_detail %}">
    <TEXT>AskMAMA</TEXT>
    </LINK> &gt; Q&amp;A
    </LABEL>
  </HEADER>

  <CONTAINER type="data">
    <TEXT>
      <p>
        {% likes question %}<br/>
        {{ question.comment }}
      </p>
    </TEXT>
  </CONTAINER>

  <HEADER><LABEL>Answer</LABEL></HEADER>

  {% for answer in answers %}
  <CONTAINER type="data">
    <TEXT>
      <p>{{ answer.comment|linebreaks }}</p>
    </TEXT>
  </CONTAINER>
  {% endfor %}

</MODULE>

{% endblock %}

{% block footer_search_form %}
{% endblock %}

