{% extends "pml/base.xml" %}
{% load pml_inclusion_tags %}

{% header text="Your Baby" color="orange" %}
{% block body %}
<MODULE>
    <CONTAINER type="data">
        <TEXT>
        You haven't entered a due date yet. Please enter one so we
        can provide you with stage based information unique to your
        baby.
        </TEXT>
    </CONTAINER>

    <CONTAINER type="form">
        <FORM method="GET" href="{% url vlive_update_due_date %}" submit_text="Save">
            <FIELD name="csrfmiddlewaretoken" value="{{ csrf_token }}" type="hidden"/>
            {% for field in form %}
                {{ field }}<br />
            {% endfor %}
        </FORM>
    </CONTAINER>
</MODULE>
{% endblock %}
