{% load comments likes_inclusion_tags moderator_inclusion_tags %}

{% if weeks_ago == 0 %}
  {% if can_render_comment_form %}
      {% render_comment_form for lead_in_post %}
      <script type="text/javascript">
        var labels = document.getElementsByTagName('LABEL');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor != '') {
                 var elem = document.getElementById(labels[i].htmlFor);
                 if (elem)
                    elem.label = labels[i];			
            }
        };
        document.getElementById('id_comment').label.innerHTML = 'Type your Question';
      </script>
  {% endif %}
{% endif %}

{% if weeks_ago > 1 %}
  <div class="content-inner">
    <div class="items">
      <div class="item comment no-pic">
        <div class="meta">
          <div class="stamp">
            {% if sort == 'pop' %}
            <a href="{% url askmama_detail %}?wk=2&sort=date">Latest</a> | 
            Popular | 
            <a href="{% url askmama_detail %}?wk=2&sort=alph">Alphabetical</a>
            {% else %}
              {% if sort == 'date' %}
                Latest | 
                <a href="{% url askmama_detail %}?wk=2&sort=pop">Popular</a> |
                <a href="{% url askmama_detail %}?wk=2&sort=alph">Alphabetical</a>
              {% else %}
                <a href="{% url askmama_detail %}?wk=2&sort=date">Latest</a> | 
                <a href="{% url askmama_detail %}?wk=2&sort=pop">Popular</a> | 
                Alphabetical
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="{{ category.color }}">
  {% if weeks_ago == 1 %}
  <div class="h1" id="comments">
    <a href="{% url askmama_detail %}">AskMAMA</a> &gt; Last week's Q&amp;A
  </div>
  {% endif %}
  <div class="h1" id="comments">
    {% if weeks_ago == 0 %}
      This Week's Favourite Questions
    {% else %}
      {% if weeks_ago == 1 %}
        {{ week_start|date:"d M Y" }} 
      {% else %}
        Questions older than {{ week_end|date:"d M Y" }} 
      {% endif %}
    {% endif %}
  </div>

  {% if weeks_ago == 0 %}
  <div class="text_banner">
    <div class="banner_content">
      <p>
      <strong>
        <a href="{% url askmama_detail %}?wk=1">
          See last week's Q&amp;A &gt;
        </a>
      </strong>    
      </p>
    </div>
  </div>
  {% endif %}

  <div class="content-inner">
    <div class="items">
      {% for question in questions.object_list %}
        <div class="item comment no-pic">
          <div class="meta">
            <div class="stamp">{% likes question %}</div>
            {% if question.replied_to_comment_set.count > 0 %}
            <a href="{% url askmama_answer_detail question.id %}">
              <div class="stamp">{{ question.comment|linebreaks }}</div>
            </a>
            {% else %}
              <div class="stamp">{{ question.comment|linebreaks }}</div>
            {% endif %}
          </div>
        </div>
      {% empty %}
        
        <div class="item comment no-pic">
          <div class="meta">
            <div class="stamp">
              No questions have been asked. 
              {% if weeks_ago == 0 %}
              Use the form below to submit the first question.
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if questions.has_other_pages %}
    <div class="pagination">
      {% if questions.has_previous %}
      <a class="prev" href="?page={{ questions.previous_page_number }}&wk={{ weeks_ago }}&sort={{ sort }}">&laquo; Prev</a>
      {% else %}
      <span class="disabled prev">&laquo; Prev</span>
      {% endif %}
      |
      Page {{ questions.number }} of {{ questions.paginator.num_pages }}
      |
      {% if questions.has_next %}
      <a class="next" href="?page={{ questions.next_page_number }}&wk={{ weeks_ago }}&sort={{ sort }}">Next &raquo;</a>
      {% else %}
      <span class="disabled next">Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </div>

  {% if weeks_ago == 0 %}
    {% if not can_render_comment_form %}
      {% if can_comment_code == 'auth_required' %}
      <div class="item comment no-pic">
        <div class="meta">
          <div class="stamp">
            You must be signed in to submit your own question.
          </div>
          <div class="title">
            <a href="{% url login %}?next={% url askmama_detail %}">
              Sign in &gt;
            </a>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if weeks_ago < 2 %}
  <div class="text_banner">
    <div class="banner_content">
      <p>
      <strong>
        <a href="{% url askmama_detail %}?wk=2&sort=pop">
          See older questions &gt;
        </a>
      </strong>    
      </p>
    </div>
  </div>
  {% endif %}
  {% if weeks_ago > 0 %}
  <div class="text_banner">
    <div class="banner_content">
      <p>
      <strong>
        <a href="{% url askmama_detail %}">
          &lt; Back to AskMAMA
        </a>
      </strong>    
      </p>
    </div>
  </div>
  {% endif %}
</div>
