{% load comments %}
{% load likes_inclusion_tags %}
{% load moderator_inclusion_tags %}


<div class="{{ category.color }}">

  <div class="h1" id="comments">
    {% if weeks_ago == 0 %}
      {% if questions.number == 1 %}
      Top 10 Questions
      {% else %}
      More Questions
      {% endif %}
    {% else %}
      {% if weeks_ago == 1 %}
        Top 10 questions for {{ week_start|date:"d M Y" }}
      {% else %}
        Questions older than {{ week_end|date:"d M Y" }}
      {% endif %}
    {% endif %}
  </div>

  <div class="content-inner">
    <div class="items">

      {% for question in questions.object_list %}

        {% comment %}
        if we are on the current week's 1st page, show the top 10 questions
        with a different coloured background.
        {% endcomment %}
        <div class="item comment no-pic"
          {% if weeks_ago == 0 and questions.number == 1 and forloop.counter0 < 10 %}
          style="background-color: #fee;"
          {% endif %} >
          <div class="meta">
            {% if question.replied_to_comments_set.count > 0 %}
            <a href="{% url askmama_answer_detail question.id %}">
              <div class="stamp">{{ question.comment|linebreaks }}</div>
            </a>
            {% else %}
              <div class="stamp">{{ question.comment|linebreaks }}</div>
            {% endif %}
          {% if askmama_can_vote %}
            <div class="stamp">{% likes question template='likes/inclusion_tags/votes.html' %}</div>
          {% endif %}
          </div>
        </div>

        {% if weeks_ago == 0 and questions.number == 1 and forloop.counter == 10 %}
          {% comment %}
          If we are on the current week's first page, break the loop after the
          top 10 questions to add a link to the question form, and a heading
          above the rest of the questions.
          {% endcomment %}

          </div>
            <div class="items">
              <div class="item comment no-pic">
                <div class="meta">
                  <div class="stamp" style="color: #b22a2d;">
                    {% if askmama_can_vote %}

                    Vote for these questions to move them up to the top 10
                    list.
                    {% else %}
                          Voting for questions has closed for this week
                    {% endif %}
                    <br/>
                  </div>
                </div>
              </div>
            </div>

          <div class="items">
        {% endif %}

      {% empty %}

        <div class="item comment no-pic">
          <div class="meta">
            <div class="stamp">
              No questions have been asked yet.
            </div>
          </div>
        </div>

      {% endfor %}
    </div>

    {% if questions.has_other_pages %}
    <div class="pagination">
      {% if questions.has_previous %}
      <a class="prev" href="?page={{ questions.previous_page_number }}&wk={{ weeks_ago }}&sort={{ sort }}">&laquo; Prev</a>
      {% else %}
      <span class="disabled prev">&laquo; Prev</span>
      {% endif %}
      |
      Page {{ questions.number }} of {{ questions.paginator.num_pages }}
      |
      {% if questions.has_next %}
      <a class="next" href="?page={{ questions.next_page_number }}&wk={{ weeks_ago }}&sort={{ sort }}">Next &raquo;</a>
      {% else %}
      <span class="disabled next">Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </div>

{% if weeks_ago == 0 %}
  {% if can_render_comment_form %}
     {% if askmama_can_vote %}
         <div class="items lightred">
    <div class="h1">
  Ask your question
 </div>
</div>
         <div class="post"><p>
         The doctor can only answer questions about your health or your baby's. Your question
         will be answered if it is voted into the TOP 10 by the MAMA community. If you can see
        a question similar to yours in the QUESTIONS NOT IN THE TOP 10 Section below,
        then VOTE it into the TOP 10 rather than asking the same question again.<br/>
        Need an urgent answer? Find information here.</p>
         </div>
          {% render_comment_form for lead_in_post %}
<script type="text/javascript"
        src="{{ STATIC_URL }}mama/js/askmama_change_question_label.js">
</script>
     {% endif %}
  {% endif %}
{% endif %}

  {% if weeks_ago == 0 %}
    {% if not can_render_comment_form %}
      {% if can_comment_code == 'auth_required' %}
      <div class="item comment no-pic">
        <div class="meta">
          <div class="stamp">
            You must be signed in to submit your own question.
          </div>
          <div class="title">
            <a href="{% url login %}?next={% url askmama_detail %}">
              Sign in &gt;
            </a>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endif %}


</div>
