{% load comments likes_inclusion_tags moderator_inclusion_tags %}

<div class="{{ category.color }}">
  <div class="h1" id="comments">
    Week starting {{ week_start|date:"d M Y" }} 
  </div>

  {% if weeks_ago == 0 %}
  <div class="text_banner">
    <div class="banner_content">
      <p>
      <strong>
        <a href="{% url askmama_object_list %}?wk=1">
          See last week's answers >
        </a>
      </strong>    
      </p>
    </div>
  </div>
  {% endif %}

    <div class="content-inner">
        <div class="items">
            {% for question in questions %}
                <div class="item comment no-pic">
                    <div class="meta">
                        <div class="title">{{ question.name }}</div>
                        <div class="stamp">{{ question.submit_date }} | {% likes question %} {% report_comment_abuse question %}</a></div>
                        <div class="stamp">{{ question.comment|linebreaks }}</div>
                    </div>
                </div>
            {% empty %}
                <div class="item comment no-pic">
                    <div class="meta">
                      <div class="stamp">
                        No questions yet. Use the form below to submit the
                        first question.
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
    </div>

    {% render_comment_form for lead_in_post %}
</div>

