{% comment %}
{% if user.is_anonymous %}
<div class="text_banner">
  <div class="banner_content">
    <p>
    <strong>
      <a href="{% url registration_register %}">Register for MAMA</a>
    </strong><br/>
    Get weekly updates unique to your baby!
    </p>
  </div>
</div>
{% endif %}
{% endcomment %}

{% if user.is_anonymous %}
  <div class="content-inner">
      <div class="items">
          <div class="item">
              <a href="baby.html" class="intro-pic"><img src="{{ STATIC_URL }}mama/img/preg_23.png"></a>
              <div class="meta">
                  <div class="title"><a href="{% url registration_register %}">Sign Up Now!</a></div>
                  <div class="description">Tell us your due date or baby&apos;s birthday to get weekly updates on your growing baby.</div>
              </div>
          </div>
      </div>
  </div>
{% endif %}
