{% load jmbo_inclusion_tags %}

{% if request.user.is_authenticated %}
  {% if no_due_date %}

    <h1>Your Baby</h1>
    <div class="content-inner">
      <div class="items peach">
        <div class="item no-pic">
          <div class="meta">
            You have not entered a due date yet. Please enter one so we can
            provide you with stage based information unique to your baby.
          </div>
        </div>
        <a href="{% url mxit_update_due_date %}">Enter a due date &gt;</a>
      </div>
    </div>

  {% else %}

    {% if stages_object_list %}
      <h1>
        {% if profile.is_prenatal %}
            Your Pregnancy
        {% else %}
            Your Baby
        {% endif %}
      </h1>
      <div class="content-inner">
          <div class="items peach">
              {% for object in stages_object_list %}
                  {% render_object object "block" %}
              {% endfor %}
              {% if profile.is_prenatal %}
                  <div class="item-nav"><a href="{{ category.get_absolute_url }}">Your Pregnancy</a></div>
              {% else %}
                  <div class="item-nav"><a href="{{ category.get_absolute_url }}">Your Baby</a></div>
              {% endif %}
          </div>
      </div>
    {% endif %}

  {% endif %}
{% endif %}
