{% load mama_template_tags %}

<div class="text_banner maroon">
  {% mxit_title_bar foreground_color='#FFFFFF' background_color='#B22A2D' text='ASKMAMA' %}
  <div class="banner_content">
    <p>
    <strong>
      <a href="{% url askmama_detail %}">Ask our Expert your questions &gt;<a>
    </strong>
    </p>
  </div>
  <div class="top_10_questions">
    <a href="{% url askmama_detail %}">
      <img src="{{ STATIC_URL }}mama/img/top_10_questions.jpg" 
           style="border: none;" />
    </a>
  </div>
</div>
