<div id="header">
    <div class="logo">
        <a href="{% url home %}"><img src="{{ STATIC_URL }}mama/img/banner_mxit_join.jpg" border="0" /></a>
    </div>
    <div class="nav">
        <a href="{% url category_object_list 'articles' %}">Articles</a> |
        <a href="{% url moms_stories_object_list %}">Stories</a> |
        <a href="{% url askmama_home %}">Ask MAMA</a> |
        <a href="{% url guides_list %}">Guides</a>
    </div>
</div>

<div id="divider"><img src="{{ STATIC_URL }}mama/img/divider.jpg" /></div>
