{% extends 'pml/base.xml' %}

{% load jmbo_inclusion_tags mama_inclusion_tags pml_inclusion_tags %}

{% block body %}
    {% with 'grey' as color %}

    {% header text='Search Results' color=color %}

    {% if page.object_list %}
        {% for object in page.object_list %}
            {% if object.object %}

         {% if object.object.content_type.name == "Post" %}
        <TEXT>
          {{ object.object.content_object }}<br/>
          {{ object.object.comment|linebreaks }}<br/>
        </TEXT>
        {% for response in object.object.replied_to_comments_set.all %}
          <TEXT>
          <b>Answer</b><br>
            {{ response.comment_text|linebreaks }}
          </TEXT>
            {% endfor %}
          {% endif %}

          {% if object.object.content_type.name == "Live Chat" %}
        <TEXT>
          {{ object.object.content_object.content_type.name }}<br/>
          {{ object.object.comment|linebreaks }}<br/>
        </TEXT>
        {% for response in object.object.livechatresponse_set.all %}
          <TEXT>
          <b>Answer</b><br>
            {{ response.respons|linebreakse }}
          </TEXT>
            {% endfor %}
          {% endif %}

          {% if object.verbose_name == "Comment reply" %}
          {% for response in object.object.replied_to_comments.all %}
          <TEXT>
          {{ response.content_object }}<br/>
          {{ response.comment|linebreaks }}<br/>
          </TEXT>
          {% endfor %}
          <TEXT>
            <b>Answer</b><br>
            {{ object.object.comment|linebreaks }}
          </TEXT>
          {% endif %}

        {% if object.object.livechat.content_type.name == "Live Chat" %}
        <TEXT>
          {{ object.object.livechat.content_type.name }}<br/>
          {{ object.object.comment.comment|linebreaks }}<br/>
        </TEXT>
          <TEXT>
          <b>Answer</b><br>
            {{ object.object.response|linebreaks }}
          </TEXT>
          {% endif %}

            <TEXT><br/>----</TEXT>
          {% endif %}
        {% endfor %}
    {% else %}
        {% text_include template="mama/pml_includes/search_not_found.html" %}
    {% endif %}

    {% pagination page %}
    {% endwith %}

{% endblock %}

{% block footer %}
    {% with 'grey' as color %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block footer_search_form %}
  {% header text='Search' color=color %}
  {% include 'mama/inclusion_tags/search_form_askmama.html' %}
{% endblock %}

