{% extends "base.html" %}
{% load mama_template_tags %}

{% block content %}

{% mxit_title_bar foreground_color='#FFFFFF' background_color='#FF6A15' text='askMAMA SURVEY' %}
<div class="content-inner">
    <div class="items">
        <div class="item no-pic">
            <div class="meta">
                <div class="title" style="font-weight: bold">
                    {{ survey.title }}
                </div>
                <div class="description">{{ survey.introduction_text|safe }}</div>
            </div>
        </div>

        <form id="frmDoSurvey" method="post" action="">
            {% csrf_token %}

            {% for field in form %}
            {{ field }}<br />
            {% endfor %}

            <div class="row">
                <input type="submit" name="submit" value="Continue" class="btn" />
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>
{% endblock %}
