{% load i18n jmbo_template_tags %}

<div class="object-widget-inclusion poll-widget-inclusion" id="poll-widget-oid-{{ object.id }}">
    {% if object.image %}<div class="image"><img src="{{ object.get_modelbase_list_item_thumbnail_LAYER_url }}"/></div>{% endif %}
    <div class="poll-form-title">{{ object.title }}</div>

    {% if can_vote_on_poll and not request.GET.results %}
        <form action="{% url poll_vote object.slug %}" method="POST" id="poll-widget-form-{{ object.id }}">
            {% csrf_token %}
            {{ form.as_div }}
            <div class="row">
                <input type="submit" value="{% trans "Vote" %}" class="btn" />
            </div>
        </form>
        <a href="{{ request.path }}?results=1" >{% trans "See results" %}</a>                
    {% endif %}

    {% if not can_vote_on_poll or request.GET.results %}
    <div id="poll-widget-results-{{ object.id }}">
        <table class="poll-results" cellspacing="0">
        {% for obj in object.polloption_set.all %}
            <tr class="poll-result-{{ forloop.counter }}">
                <td>{{ obj.title }}</td>
                <td class="bar">
                    <div style="width: {{ obj.percentage }}%;">&nbsp;</div>
                </td>
                <td>
                    {{ obj.percentage|floatformat }}%
                </td>
            </tr>
        {% endfor %}
        </table>
        {% if can_vote_on_poll %}
        <div class="row">
          <a href="{{ request.path }}" >{% trans "Vote" %}</a>                
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% if not can_vote_on_poll %}
        {% if reason == 'auth_required' %}
            <a href="{% url login %}">{% trans "You must be signed in to vote" %}</a>
        {% endif %}
    {% endif %}

</div>
