{% if not comments_open or READ_ONLY_MODE %}
<p>Comments are currently closed.</p>
{% else %}

<div class="add-comment" id="add-comment">
<form action="{% url post_comment %}" method="post">
    {% csrf_token %}
    <div style="display:none;">
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <p {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>{{ field }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% if form.comment.errors %}
        <div class="errors">
            {% for error in form.comment.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <label for="your-comment">Add your comment
      <textarea id="id_comment" name="comment"></textarea>
    </label>
    <input type="submit" name="post" value="Post" class="btn btn-wide" />
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
</div>
{% endif %}
