{% load comments %}

{% get_comment_count for object as comment_count %}

{% if comment_count or can_render_comment_form %}
    {% if object.comments_enabled %}
        <div class="{{ category.color }}">
            <h1>Comments</h1>
            {% if request.GET.commentaction == 'show' %}
            {% render_comment_list for object %}
            {% else %}
            <a href="{{ request.path }}?commentaction=show">Load Comments &gt;</a>
            <br/>
            {% endif %}
            {% if request.GET.commentaction == 'add' %}
            {% if can_render_comment_form %}
                {% render_comment_form for object %}
            {% endif %}
            {% else %}
            <a href="{{ request.path }}?commentaction=add">Add Your Comment &gt;</a>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
