{% load likes_inclusion_tags %}

<div class="content-inner">
    <div class="items">
        {% for comment in comment_list %}
            <div class="item comment no-pic">
                <div class="meta">
                    <div class="title">{{ comment.name }}</div>
                    <div class="stamp">{{ comment.submit_date }} | {% likes comment %} {% comment %}| <a href="abuse.html">Report abuse</a></div>{% endcomment %}
                    <div class="stamp">{{ comment.comment|linebreaks }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
