{% extends 'base.html' %}

{% block content %}

<div class="maroon">
  <h1>{{competition.title}}</h1>
  <div class="content-inner">
    <div class="your-story-blurb">
    <b>{{competition.description}}</b>
    <br/>
    <hr/>
    </div>

    {% if user.is_anonymous %}
    <div class="your-story-blurb">
    You must be Signed In to submit your story.
    <br/>
    <a href="{% url login %}">Sign In &gt;</a><br/>
    <a href="{% url registration_register %}">Register &gt;</a>
    </div>
    {% else %}
    <div class="your-story-blurb">
    {{competition.content|safe}}
    </div>
    <form action="{% url your_story competition.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" 
               value="{% url moms_stories_object_list %}" />
        <input type="hidden" name="name" 
               value="{{ user.username }}" />
        <input type="hidden" name="email" 
               value="{{ user.email }}" />
        <input type="hidden" name="terms" 
               value="true" />

        <div class="errorlist">
            {{ form.non_field_errors }}
        </div>

        <div class="field">
            <div class="required">
                <label for="id_text">Please type your story and press send:</label>
                {{ form.text.errors }}
                <div class="helptext"></div> 
                {{ form.text }}
            </div>
        </div>

        <p>
        <strong>Terms and Conditions</strong> 
        {{ competition.terms_and_conditions|safe }}
        </p>

        <div class="row">
            <input type="submit" class="btn" value="Submit" /> 
        </div>

    </form>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block footer_search_form %}
{% endblock %}
