/*  =============================================================================
    HTML5 Boilerplate CSS: h5bp.com/css
    ========================================================================== */

	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
	audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
	audio:not([controls]) { display: none; }
	[hidden] { display: none; }
	html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
	html, button, input, select, textarea { font-family: Arial, Helvetica, sans-serif; color: #666; }
	body { margin: 0; font-size: 13px; line-height: 1.6; }
	::-moz-selection { background: #666; color: #fff; text-shadow: none; }
	::selection { background: #666; color: #fff; text-shadow: none; }
	a { color: #f68401; }
	a:visited { color: #f68401; }
	a:hover { color: #f68401; }
	a:focus {  }
	a:hover, a:active, a:focus { outline: 0; }
	abbr[title] { border-bottom: 1px dotted; }
	b, strong { font-weight: bold; }
	blockquote { margin: 1em 40px; }
	dfn { font-style: italic; }
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	ins { background: #ff9; color: #000; text-decoration: none; }
	mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
	pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
	q { quotes: none; }
	q:before, q:after { content: ""; content: none; }
	small { font-size: 85%; }
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
	ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
	dd { margin: 0 0 0 40px; }
	nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
	img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	svg:not(:root) { overflow: hidden; }
	figure { margin: 0; }
	form { margin: 0; }
	fieldset { border: 0; margin: 0; padding: 0; }
	label { cursor: pointer; }
	legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
	button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
	button, input { line-height: normal; }
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
	button[disabled], input[disabled] { cursor: default; }
	input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	textarea { overflow: auto; vertical-align: top; resize: vertical; }
	input:valid, textarea:valid {  }
	input:invalid, textarea:invalid { background-color: #f0dddd; }
	table { border-collapse: collapse; border-spacing: 0; }
	td { vertical-align: top; }
	.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
	
    @font-face {
        font-family: 'HelvN';
        src: url('../font/helveticaltstd-boldcond-webfont.eot');
        src: url('../font/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
             url('../font/helveticaltstd-boldcond-webfont.woff') format('woff'),
             url('../font/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
             url('../font/helveticaltstd-boldcond-webfont.svg#HelveticaLTStdCondBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

/*  ===== Primary Styles ========================================================
    Author:
    ========================================================================== */

    /* GLOBAL */
    html, body { background: #dcdcdb url('../img/bg.png') center repeat-y; }
    #wrap { width: 1000px; margin: 0 auto; background: url('../img/top.png') top no-repeat; }
    #container { width: 1000px; margin: 0 auto; background: url('../img/bottom.png') bottom no-repeat; }
    
    /* GENERAL */
    .align_left { float: left!important; }
    .align_right { float: right!important; }
    .nopad { padding: 0!important; }
    .nopadright { padding-right: 0!important; }
    .nomarg { margin: 0!important; }
    .nomargright { margin-right: 0!important; }
    .red { color: #d92128!important; }
    .orange { color: #f54f16!important; }
    .yellow { color: #f58d16!important; }
    .border_red { border-top: 7px solid #d92128!important; }
    .border_orange { border-top: 7px solid #f54f16!important; }
    .border_yellow { border-top: 7px solid #f58d16!important; }
    .border_brown { border-top: 7px solid #b30007!important; }
    .clear { width: 97%; height: 0px!important; clear: both; }
    .biglink { padding: 12px 0 0 0; display: block; color: #f54f16; font-weight: bold; font-size: 15px; text-decoration: none; }
    .padless { padding: 4px 0 0 0; }
    .brownlink { color: #b30007!important; text-decoration: none; }
    .smaller { font-size: 24px!important; line-height: 37px!important; }
    
    /* HEADER */
    
    header { width: 940px; height: 115px; margin: 0 auto; padding: 7px 0 0 0; background: #fff url('../img/band.png') top no-repeat; }
        header .logo { width: 373px; height: 77px; float: left; margin: 19px 0 0 30px; background: url('../img/logo.png') no-repeat; }
        header ul { height: 115px; float: right; margin: 0 20px 0 0; padding: 0; list-style-type: none; border-left: 3px solid #dcdcdd; }
        header ul li { float: left; display: block; border-right: 3px solid #dcdcdd; }
        header ul li a { display: block; overflow: hidden; text-indent: -999px; }
        header ul li a.learn { width: 172px; height: 56px; background: url('../img/nav_learn_more.png') center no-repeat; border-bottom: 3px solid #dcdcdd; }
        header ul li a.get { width: 172px; height: 56px; background: url('../img/nav_get_involved.png') center no-repeat; }
        header ul li a.mia { width: 131px; height: 115px; background: url('../img/nav_mia.png') center no-repeat; }
        header ul li a.contact { width: 175px; height: 56px; background: url('../img/nav_contact.png') center no-repeat; }
        header ul li a.partners { width: 175px; height: 56px; background: url('../img/nav_partners.png') center no-repeat; border-bottom: 3px solid #dcdcdd; }

    /* FOOTER */
    footer { width: 880px; float: left; margin: 0 30px; padding: 15px 30px 23px 30px; background: #6f6f6f url('../img/band.png') bottom no-repeat; text-align: center; color: #fff; }
        footer p { margin: 20px 0; line-height: 20px; }
        footer p span { color: #fff; }
        footer p.nav { color: #8e8e8e; font-size: 14px; }
        footer p.nav a { color: #fff; font-family: HelvN; text-transform: uppercase; text-decoration: none; }
        footer p.legal { color: #cccccc; }

    /* CONTENT */
    .main { width: 940px; float: left; margin: 0 30px; background: #fff; position: relative; }
        .promo { width: 900px; height: 466px; float: left; margin: 0 20px; position: relative; overflow: hidden; }
            .promo h1 { padding: 40px 0 0 65px; margin: 0; color: #ff4200; font-family: HelvN; font-size: 30px; font-weight: normal; text-transform: uppercase; }
            .promo h2 { padding: 5px 0 0 60px; margin: 0; color: #fe8f00; font-family: HelvN; font-size: 80px; font-weight: normal; text-transform: uppercase; line-height: 80px; }
            .promo p { padding: 0 0 0 65px; margin: 0; color: #666; font-size: 17px; line-height: 24px; }
            .promo p a { color: #d92128; text-decoration: none; }
            .promo_home { background: url('../img/promo_home.png') no-repeat; }
            .promo_home h1 { padding: 30px 0 0 65px; }
            .promo_home h2 { padding: 5px 0 0 60px; font-size: 76px; line-height: 76px; }

        .banner { width: 780px; height: 295px; float: left; margin: 0 20px; padding: 0 60px; position: relative; }
            .banner_contact { background: url('../img/banner_contact.png') no-repeat; }
            .banner_mia { background: url('../img/banner_mia.png') no-repeat; }
            .banner_learn { background: url('../img/banner_learn.png') no-repeat; }
            .banner_involved { background: url('../img/banner_involved.png') no-repeat; }
            .banner h1 { padding: 40px 0 0 5px; margin: 0; color: #ff4200; font-family: HelvN; font-size: 30px; font-weight: normal; text-transform: uppercase; }
            .banner h2 { padding: 5px 0 0 0; margin: 0; color: #fe8f00; font-family: HelvN; font-size: 80px; font-weight: normal; text-transform: uppercase; line-height: 86px; }
            .banner p { padding: 0 0 0 5px; margin: 0; color: #666; font-size: 18px; }
        .content { width: 860px; float: left; padding: 40px; }
            .half { width: 410px; float: left; padding: 17px 0 40px 0; border-top: 7px solid #da2128; position: relative; }
                .half h1 { margin: 0; padding: 0; font-size: 15px; font-weight: normal; }
                .half h2 { margin: 0; padding: 0 0 5px 0; font-family: HelvN; font-size: 30px; font-weight: normal; color: #000; text-transform: uppercase; }
                .half h3 { margin: 0; padding: 0; font-size: 14px; font-weight: normal; color: #000; }
                .half img { padding: 5px 0 15px 0; }
            .third { width: 260px; float: left; padding: 17px 0 40px 0; margin: 0 40px 0 0; border-top: 7px solid #da2128; position: relative; }
                .third h1 { margin: 0; padding: 0; font-size: 15px; font-weight: normal; }
                .third h2 { margin: 0; padding: 0 0 5px 0; font-family: HelvN; font-size: 30px; line-height: 42px; font-weight: normal; color: #000; text-transform: uppercase; }
                .third h3 { margin: 0; padding: 0; font-size: 14px; font-weight: normal; color: #000; }
                .third p { margin: 0; }
                .third ul { padding: 0 0 0 15px; }
                .third .logo_pf { padding: 10px 0 20px 0; }
                .third .logo_cl { padding: 5px 0 20px 0; }
                .third .logo_whri { padding: 5px 0 7px 0; }
        .diamond { width: 10px; height: 7px; position: absolute; top: -7px; right: -26px; background: url('../img/diamond.png') no-repeat; }
        .girl { width: 270px; height: 381px; position: absolute; bottom: 162px; right: 30px; }
        .spacer { width: 97%; height: 30px; clear: both; }
        .divider { width: 860px; height: 2px; float: left; margin: 0 0 20px 0; background: #d9d9d9; }

        /* intro */
        .intro { width: 860px; float: left; padding: 0 0 40px 0; font-size: 18px; line-height: 24px; }

        /* family */
        .family { width: 860px; float; left; padding: 17px 0 0 0; border-top: 7px solid #f54f16; }
            .family h1 { margin: 0; padding: 0; font-size: 15px; font-weight: normal; }
            .family h2 { margin: 0; padding: 0; font-family: HelvN; font-size: 32px; font-weight: normal; color: #000; text-transform: uppercase; }
            .family .full { width: 860px; float: left; padding: 20px 0; border: 0!important; }
            .family .full h2 { font-size: 24px; }
            .family .full h2 a { text-decoration: none; }
            .family .half { width: 410px; float: left; padding: 20px 0; border: 0!important; }
            .family .half h2 { font-size: 18px; }
            .family .half p { line-height: 20px; }
            .family .half p a { padding: 12px 0 0 0; display: block; color: #f54f16; font-weight: bold; font-size: 15px; text-decoration: none; }
            .family .third { padding: 20px 0 40px 0; border: 0!important; }
            .family .third h2 { font-size: 18px; }
            .family .third p { line-height: 20px; }
            .family .third p a { padding: 12px 0 0 0; display: block; color: #f54f16; font-weight: bold; font-size: 15px; text-decoration: none; }
            .family .quarter { width: 185px; float: left; padding: 20px 40px 20px 0; border: 0!important; }
            .family .quarter h2 { font-size: 18px; }
            .family .quarter p { line-height: 20px; }
            .family .quarter p a { padding: 12px 0 0 0; display: block; color: #f54f16; font-weight: bold; font-size: 15px; text-decoration: none; }
            .family .member { width: 134px; float: left; margin: 10px 11px 0 0; }

        /* news */
        .news .third h2 { padding: 0 0 10px 0; line-height: 20px; }
        .news .half { padding-bottom: 40px!important; }
            .news .half img { float: left; display: block; padding: 0 20px 0 0; }
            .news .half .title { margin: 0; font-size: 15px; color: #000; }
            .news .half .title a { padding: 0; color: #000; font-weight: normal; }
            .news .half .title a:hover { color: #f54f16; }
            .news .half p { margin: 0; }

        /* founders */
        .founders { width: 860px; float; left; padding: 17px 0 0 0; border-top: 7px solid #f58d16; }
            .founders h3 { margin: 0; padding: 0 0 10px 0; font-family: HelvN; font-size: 18px; font-weight: normal; color: #000; text-transform: uppercase; }
            .founders .logos { width: 420px; float: left; }
            .founders .logos a { float: left; margin: 0 45px 0 0; display: block; }
            .founders .logos a img { display: block; }

        /* emulator */
        .emulator { width: 900px; height: 859px; padding: 0; margin: 0 20px 20px 20px; background: url('../img/bg_emulator.png') no-repeat; }
            .emulator .phone { width: 418px; height: 686px; float: left; margin: 44px 0 0 0px; padding: 86px 0 0 127px; background: url('../img/phone.png') no-repeat }
            .emulator .phone iframe { width: 295px; height: 394px; display: block; border: 0!important; }
            .emulator .phone_text { width: 315px; float: left; margin: 180px 0 0 -30px; }
            .emulator .phone_text h1 { padding: 30px 0 0 5px; margin: 0; color: #ff4200; font-family: HelvN; font-size: 30px; font-weight: normal; text-transform: uppercase; }
            .emulator .phone_text h2 { padding: 0 0 0 0; margin: 0; color: #fe8f00; font-family: HelvN; font-size: 80px; font-weight: normal; text-transform: uppercase; line-height: 76px; }
            .emulator .phone_text p { padding: 10px 0 0 5px; margin: 0; color: #666; font-size: 18px; }

        /* partners promo */
        .pf_marcha { background: url('../img/partner_pf_marcha.png') no-repeat!important; }
        .pf_colin { background: url('../img/partner_pf_colin.png') no-repeat!important; }
        .whri_eugene { background: url('../img/partner_whri_eugene.png') no-repeat!important; }
        .cl_peter { background: url('../img/partner_cl_peter.png') no-repeat!important; }
        .cl_kath { background: url('../img/partner_cl_kath.png') no-repeat!important; }
        div.anythingSlider { width: 900px; height: 466px; display: block; position: relative; padding: 0; }
        div.anythingSlider .anythingWindow { width: 900px; height: 466px; overflow: hidden; position: relative; }
        div.anythingSlider { position: relative; float: right; }
        ul.anythingBase { background: transparent; list-style: none; position: absolute; top: 0; left: 0; margin: 0; padding: 0; }
        ul.anythingBase li { position: relative; overflow: hidden; }
        ul.anythingBase li.panel { background: transparent; display: block; float: left; padding: 0; margin: 0; }
        div.anythingSlider .arrow { bottom: 0; position: absolute; display: block; z-index: 2; }
        div.anythingSlider .arrow a { display: block; margin: 0; text-align: center; outline: 0; text-decoration: none; line-height: 12px; }
        div.anythingSlider .arrow a:hover { color: #999; }
        div.anythingSlider .forward { right: 0; display: none; }
        div.anythingSlider .back { right: 0; display: none; }
        div.anythingSlider .forward a span { display: block; padding-right: 20px; padding-left: 10px; border-left: 0; }
        div.anythingSlider .back a span { display: block; padding-left: 20px; }
        div.anythingSlider .forward a { background: 0; }
        div.anythingSlider .back a { background: 0; }
        div.anythingSlider .forward.disabled { display: block; }
        div.anythingSlider .back.disabled { display: block; }
        div.anythingSlider .anythingControls { outline: 0; display: none; }
        div.anythingSlider .thumbNav { margin: 0; padding: 0; position: absolute; bottom: 40px; left: 65px; z-index: 2; text-align: center; }
        div.anythingSlider .thumbNav li { display: inline; }
        div.anythingSlider .thumbNav a { width: 16px; height: 16px; margin: 0 9px 0 0; text-align: center; display: inline-block; text-indent: -999px; overflow: hidden; background: url('../img/dots.png') top no-repeat; }
        div.anythingSlider .thumbNav a:hover { background: url('../img/dots.png') bottom no-repeat; }
        div.anythingSlider.activeSlider .thumbNav a.cur { background: url('../img/dots.png') bottom no-repeat; }
        div.anythingSlider.rtl .thumbNav a { float: right; } /* reverse order of nav links */
        div.anythingSlider.rtl .thumbNav { float: left; }    /* move nav link group to left */
        div.anythingSlider.rtl .anythingWindow { direction: ltr; unicode-bidi: bidi-override; }
        div.anythingSlider .start-stop { display: none; }
        div.anythingSlider, 
        div.anythingSlider .anythingWindow, 
        div.anythingSlider .thumbNav a, 
        div.anythingSlider .arrow a, 
        div.anythingSlider .start-stop { transition-duration: 0; -o-transition-duration: 0; -moz-transition-duration: 0; -webkit-transition-duration: 0; }


/*  =============================================================================
    Media Queries
    ========================================================================== */



/*  =============================================================================
    Non-Semantic Helper Classes
    ========================================================================== */

	.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
	.ir br { display: none; }
	.hidden { display: none !important; visibility: hidden; }
	.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
	.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
	.invisible { visibility: hidden; }
	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after { clear: both; }
	.clearfix { *zoom: 1; }

/*  =============================================================================
    Print Styles
    ========================================================================== */
 
	@media print {
	  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	  a, a:visited { text-decoration: underline; }
	  a[href]:after { content: " (" attr(href) ")"; }
	  abbr[title]:after { content: " (" attr(title) ")"; }
	  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	  thead { display: table-header-group; } /* h5bp.com/t */
	  tr, img { page-break-inside: avoid; }
	  img { max-width: 100% !important; }
	  @page { margin: 0.5cm; }
	  p, h2, h3 { orphans: 3; widows: 3; }
	  h2, h3 { page-break-after: avoid; }
	}
