{% extends 'pml/base.xml' %}

{% comment %}
Used for the AskMAMA section
{% endcomment %}

{% load pml_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load askmama_inclusion_tags %}
{% load livechat_tags %}

{% block following_header %}
{{ block.super }}
{% include "mama/inclusion_tags/registration_banner.html" %}
{% endblock %}

{% block body %}

  {{ block.super }}
  {% if lead_in_post %}

      {% header lead_in_post.title maroon %}
      <TEXT>VOTE for the question you want answered from Friday to Tuesday morning. The doctor will answer the TOP 10
    questions as voted by all MAMA users.<br/>
    ASK your own question if nobody has asked it already.<br/>
    READ the doctors answers in AskMAMA Archive.</TEXT>

      <TEXT>PLEASE NOTE: The answers provided by our experts are not a substitute for
    medical advice. If you are concerned about your health or your baby’s health,
    visit a clinic for a medical diagnosis.</TEXT>

    {% favourite_questions_for_week lead_in_post weeks_ago cpage sort %}
  {% endif %}

  {% block below_listing %}
  {% endblock %}

{% endblock %}
