{% extends "pml/base.xml" %}

{% load jmbo_inclusion_tags %}
{% load jmbo_template_tags %}
{% load comments %}
{% load moderator_inclusion_tags %}
{% load livechat_tags %}
{% load mama_inclusion_tags %}
{% load pml_inclusion_tags %}

{% block body %}
{% header 'ASKMAMA ARCHIVE' %}

<MODULE>
   {% if chat_comments %}
    <CONTAINER type="data">
      {% for comment in chat_comments.object_list %}
      {% if comment.replied_to_comments_set.exists %}
        <TEXT>
          {% if comment.user %}
            {% with comment.user.profile as profile %}
              {% if profile.avatar %}
                <IMAGE href="{{ profile.avatar.url }}" align="left" width="44" height="44" />
              {% endif %}
            {% endwith %}
          {% endif %}

          {{ comment.name }} asked at {{ comment.submit_date.time }}<br/>
          {{ comment.comment|linebreaks }}<br/>
        </TEXT>

          {% for response in comment.replied_to_comments_set.all %}
          <TEXT>
            <b>{{ response.user.username }}</b>
            replied to
            {{ comment.name }}<br/>
            {{ response.comment_text }}
          </TEXT>
            {% endfor %}
            <TEXT><br/>----</TEXT>
      {% endif %}
      {% endfor %}
    </CONTAINER>

    <CONTAINER type="data">
      <TEXT>
      {% if chat_comments.has_previous %}
        <LINK href="?p={{chat_comments.previous_page_number}}&amp;answered={{answered}}&amp;popular={{popular}}"><TEXT>Previous</TEXT></LINK> |
      {% else %}
          Previous|
      {% endif %}
      <TEXT>
          Page {{ chat_comments.number }} of {{ chat_comments.paginator.num_pages }}
      </TEXT>
      {% if chat_comments.has_next %}
          | <LINK href="?p={{chat_comments.next_page_number}}&amp;answered={{answered}}&amp;popular={{popular}}">Next</LINK>
      {% else %}
          | Next
      {% endif %}
      </TEXT>
    </CONTAINER>

  {% else %}
    <CONTAINER type="data">
      <TEXT>
        No questions yet. Go ahead and ask a question.
      </TEXT>
    </CONTAINER>
  {% endif %}
</MODULE>
{% endblock %}
{% block footer_search_form %}
  {% header text='Search' color=color %}
  {% include 'mama/inclusion_tags/search_form_askmama.html' %}
{% endblock %}

