{% extends "pml/base.xml" %}

{% load pml_inclusion_tags %}

{% block above_content %}
    {% header 'MAMA Guides' 'orange' %}
    {% include 'mama/inclusion_tags/search_form.html' %}
{% endblock %}

{% block body %}

<MODULE>
    <CONTAINER type="data">
        <TEXT>
        <p>
        MAMA has so much information to share with you. We have compiled her
        best advice into guide books for you to read. Try our search function
        to find information on a certain topic.
        </p>
        </TEXT>
    </CONTAINER>
</MODULE>

{% if stages_leaders %}
{% header 'Stages Guides' 'orange' %}
<MODULE>
{% for item in stages_leaders %}
    <CONTAINER type="data">
    <LINK href="{% url guides_topic_list item.slug %}">
    <TEXT>{{ item.title }}</TEXT>
    </LINK>
    </CONTAINER>
{% endfor %}
</MODULE>
{% endif %}

{% if life_guide_leaders %}
{% header 'Our Most Popular Guides' 'orange' %}
<MODULE>
{% for item in life_guide_leaders %}
    <CONTAINER type="data">
    <LINK href="{% url guides_topic_list item.slug %}">
    <TEXT>{{ item.title }}</TEXT>
    </LINK>
    </CONTAINER>
{% endfor %}
</MODULE>
{% endif %}

<MODULE>
    <CONTAINER type="data">
        <TEXT>
            <p>
            <strong>
            <LINK href="{% url more_guides_list %}">
            <TEXT>More Guides &gt;</TEXT>
            </LINK>
            </strong>    
            </p>
        </TEXT>
    </CONTAINER>
</MODULE>

{% endblock %}
