{% extends 'pml/base.xml' %}

{% load cache %}
{% load mama_inclusion_tags %}
{% load pml_inclusion_tags %}
{% load survey_inclusion_tags %}

{% block body %}
    {% ages_and_stages %}
    {% cache 3600 home %}
        {% post_listing "articles" %}
        {% post_listing "moms-stories" %}
        {% topic_listing "mama-a-to-z" 0 %}
        {% topic_listing "life-guides" 0 %}
    {% endcache %}
    {% show_EU_nutrition_quizzes %}
    {% poll_listing %}
    {% show_survey %}
{% endblock %}

{% block footer %}
    {% with 'False' as homelink %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
