{% extends "pml/base.xml" %}

{% comment %}
Used for Mom's Stories
{% endcomment %}

{% load jmbo_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load moms_stories_inclusion_tags %}
{% load pml_inclusion_tags %}

{% block following_header %}
{{ block.super }}
{% include "mama/inclusion_tags/registration_banner.html" %}
{% endblock %}

{% block body %}

  {% if object_list %}
    {% for object in post_list %}
      {% render_object object "block" %}
    {% endfor %}
  {% endif %}

  {% pagination page_obj %}

  {% block below_listing %}
  {% your_story_competition %}
  {% endblock %}

{% endblock %}

