{% extends "pml/base.xml" %}

{% comment %}
Used for Mom's Stories
{% endcomment %}

{% load jmbo_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load moms_stories_inclusion_tags %}
{% load pml_inclusion_tags %}

{% block following_header %}
{{ block.super }}
{% include "mama/inclusion_tags/registration_banner.html" %}
{% endblock %}

{% comment %}
{% block above_content %}
  {% header text='Search' color=color %}
  {% include 'mama/inclusion_tags/search_form.html' %}
{% endblock %}
{% endcomment %}

{% block body %}

  {% comment %}
  {% block above_listing %}
  {% your_story_competition %}
  {% endblock %}
  {% endcomment %}

  {% if object_list %}
    {% for object in post_list %}
      {% render_object object "block" %}
    {% endfor %}
  {% endif %}

  {% pagination page_obj %}

  {% comment %}
  {% block below_listing %}
  {% your_story_competition %}
  {% endblock %}
  {% endcomment %}

  {% comment %}
  {% block footer_search_form %}
  {% endblock %}
  {% endcomment %}

{% endblock %}

