{% extends "pml/base.xml" %}

{% load cache %}
{% load jmbo_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load jmbo_template_tags %}
{% load likes_inclusion_tags %}
{% load livechat_tags%}
{% load pml_inclusion_tags %}

{% block body %}

{% header "{{ alias }}&apos;s Profile" %}

<MODULE>
  {% if avatar %}
  <CONTAINER type="image">
    <IMAGE href="{{ avatar }}" align="left" width="44" height="44" mime-type="image/jpeg"/>
  </CONTAINER>
  {% endif %}

  <CONTAINER type="data">
    <TEXT>
      {{ alias }}<br/>
      {{ relation_description}}<br/>
      <LINK href="{% url public_user_comments user_id %}">
      <TEXT>{{ comments }} Comments</TEXT>
      </LINK> Made
    </TEXT>
  </CONTAINER>

  {% if about_me %}
  <CONTAINER type="data">
    <TITLE>About {{ alias }}</TITLE><br/>
    <TEXT>{{ about_me|linebreaks }}</TEXT>
  </CONTAINER>
  {% endif %}

  {% if date_type != 'unspecified' or delivery_date %}
  <CONTAINER type="data">
    <TITLE>About {{alias}}&apos;s Baby</TITLE>
    <TEXT>

    {% if baby_name %}
    Name: {{ baby_name }}<br/>
    {% endif %}

    {% if date_type != 'unspecified' %}
    {{ date_description }}: 
    {% else %}
        {% if delivery_date > now %}
            Due Date:
        {% else %}
            Birth Date:
        {% endif %}
    {% endif %}
    {% if date_type == 'due_date' or date_type == 'unspecified' %}
        {% if unknown_due_date %}
        Unknown
        {% else %}
        {{ delivery_date|date:"d M Y" }}
        {% endif %}
    {% else %}
        {{ delivery_date|date:"d M Y" }}
    {% endif %}

    </TEXT>
  </CONTAINER>
  {% endif %}

</MODULE>

{% endblock %}

{% block footer_search_form %}
{% endblock %}
