{% if likes_enabled %}
    {{ content_obj.vote_total }}
    Like{{ content_obj.vote_total|pluralize }}
    {% if weeks_ago %}
      {% if weeks_ago == 0 %}
        {% if can_vote %}
            <LINK href="{% url like content_type content_obj.id 1 %}">
            <TEXT>| Like</TEXT>
            </LINK>
        {% endif %}
      {% endif %}
    {% else %}
      {% if can_vote %}
          <LINK href="{% url like content_type content_obj.id 1 %}">
          <TEXT>| Like</TEXT>
          </LINK>
      {% endif %}
    {% endif %}
{% endif %}
