{% extends 'pml/base_module.xml' %}
{% load cache pml_inclusion_tags %}

{% block content %}
    <CONTAINER type="form">
        <FORM method="GET" href="{% url poll_vote object.slug %}" submit_text="Vote">
            <FIELD name="csrfmiddlewaretoken" value="{{ csrf_token }}" type="hidden"/>
            {% cache 60 poll_form_options object.slug %}
                <CHOICE-GROUP name="{{ form.poll_option.html_name }}" type="radio">
                    <TEXT>
                        <b>{{ object.title }}</b>
                    </TEXT>
                    {% for option in object.polloption_set.all %}
                        <CHOICE value="{{ option.pk }}">{{ option.title }}</CHOICE>
                    {% endfor %}
                </CHOICE-GROUP>
            {% endcache %}
        </FORM>
    </CONTAINER>
{% endblock %}