{% extends 'base.html' %}
{% load jmbo_inclusion_tags mama_inclusion_tags %}
{% load i18n %}

{% block content %}
<div class="padded-page">
    <h3>{% trans "Search Results for" %} '{{ query }}'</h3>
    {% if page.object_list %}
    <ul class="list-block list-article-teasers">
    {% for object in page.object_list %}
        {% if object.object %}
            {% render_object object.object "block" %}
        {% endif %}
    {% endfor %}
    </ul>
    {% else %}
        <p><strong>{% trans "Try Again" %}...</strong></p>
        <p>
        {% trans "Unfortunately no results were found for" %} '{{ query }}'.
        {% trans "Please try again with a different query." %}</p>
    {% endif %}

    {% pagination page %}
</div>
{% endblock %}
