{% load jmbo_template_tags %}

<li class="article-teaser">
    <h4 class="category">{{object.primary_category.title}}</h4>
{% if object.image %}
<a href="{{ object.get_absolute_category_url }}" class="article-teaser-thumb">
  <img src="{{ object.get_thumb_url }}" alt="{{ object.title }}"/>
</a>
<div class="article-teaser-text">
  <a href="{{ object.get_absolute_category_url }}">{{ object.title }}</a>
  {% if object.subtitle %}
    <p>
      {{ object.subtitle }}
    </p>
    {% endif %}
</div>
{% else %}
    <h3 class="article-title">
        <a href="{{ object.get_absolute_category_url }}">{{ object.title }}</a>
    </h3>
    {% if object.subtitle %}
    <p>
      {{ object.subtitle }}
    </p>
    {% endif %}
{% endif %}

</li>
