{% load jmbo_template_tags %}
<div class="over">
  {% if object.image %}
      <img src="{{ object.get_large_url }}" alt="{{ object.title }}"/>
  {% else %}
      <img src="{{ STATIC_URL }}img/img_holder.png" alt="{{ object.title }}"/>
  {% endif %}
  <a href="{{ object.get_absolute_category_url }}" class="over-text">
    <h4 class="category">{{object.primary_category.title}}</h4>
    <h3 class="article-title">{{ object.title }}</h3>
        {% if object.subtitle %}
        <p>
          {{ object.subtitle }}
        </p>
        {% endif %}
  </a>
  {% if object.comments_enabled %}
  <a href="#" class="link-comments">
    <i class="i i-comment"></i>{{object.comment_count}}</a>
  {% endif %}
</div>
