{% extends 'base.html' %}

{% block conversion_tracking %}
<img width="1" height="1" style="border:0" src="http://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=259979&amp;ns=1&amp;mb=1&amp;dvc=<device>&amp;on=<operator>"/>
{% endblock %}

{% block content %}
<div class="h1">Sign Up</div>

<div class="content-inner">
    <div class="items">
        <div class="item no-pic">
            <div class="meta">
                <div class="stamp">
                If you register with us, you can get up to date information on your
                baby's growth and development each week. You also get to submit
                questions to our experts and stand a chance to win airtime.
                </div>
            </div>
        </div>
    </div>
</div>

{% if form.errors or form.non_field_errors %}
<div class="errors">
    <p>Oops, please make sure of the following:</p>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endif %}

<form method="post" id="frmLogin" action="{% url registration_register %}">
{% csrf_token %}
    <div class="row">
        {{ form.username.label_tag }}
        {% if form.username.errors %}
            <div class="errors">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.username }}
    </div>
    <div class="row">
        {{ form.password1.label_tag }}
        {% if form.password1.errors %}
            <div class="errors">
                {% for error in form.password1.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.password1 }}
    </div>
    <div class="row">
        {{ form.mobile_number.label_tag }}
        {% if form.mobile_number.errors %}
            <div class="errors">
                {% for error in form.mobile_number.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.mobile_number }}
        e.g. 0719876543
    </div>

    <div class="row">
        {{ form.relation_to_baby.label_tag }}
        {% if form.relation_to_baby.errors %}
            <div class="errors">
                {% for error in form.relation_to_baby.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.relation_to_baby }}
    </div>

    <div class="row">
        {{ form.date_qualifier.label_tag }}
        {% if form.date_qualifier.errors %}
            <div class="errors">
                {% for error in form.date_qualifier.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <label for="id_date_qualifier_0">
            <input id="id_date_qualifier_0" 
                   value="due_date" 
                   name="date_qualifier" 
                   type="radio"
                   {% if form.date_qualifier.value == 'due_date' %}checked="checked"{% endif %}> Due Date
        </label>
    </div>
    <div class="row shorter" style="margin-left: 25px;">
        {% if form.due_date.errors %}
            <div class="errors">
                {% for error in form.due_date.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.due_date }}
    </div>
    <div class="row" style="margin-left: 25px;">
        {% if form.unknown_date.errors %}
            <div class="errors">
                {% for error in form.unknown_date.errors %}
                    <p>{{ error|safe }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.unknown_date }} {{ form.unknown_date.label }}
    </div>

    <div class="row">
        <label for="id_date_qualifier_1">
            <input id="id_date_qualifier_1" 
                   value="birth_date" 
                   name="date_qualifier" 
                   type="radio"
                   {% if form.date_qualifier.value == 'birth_date' %}checked="checked"{% endif %}> Birth Date
        </label>
    </div>
    <div class="row shorter" style="margin-left: 25px;">
        {% if form.delivery_date.errors %}
            <div class="errors">
                {% for error in form.delivery_date.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.delivery_date }}
    </div>

    <div class="row">
        <br/>
        {% if form.tos.errors %}
            <div class="errors">
                {% for error in form.tos.errors %}
                    <p>{{ error }}.</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.tos }} {{ form.tos.label }}
    </div>
    <div class="row">
        <input type="submit" name="submit" value="Register" class="btn" />
        <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% if form.errors %}{{ request.POST.next }}{% else %}{{ request.META.HTTP_REFERER }}{% endif %}{% endif %}" />
    </div>
    <div class="clear"></div>
</form>

{% endblock %}

{% block footer %}

{% endblock %}
