{% extends 'base.html' %}

{% comment %}
Used for the AskMAMA section
{% endcomment %}

{% load jmbo_inclusion_tags jmbo_template_tags %}
{% load comments likes_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load livechat_tags %}

{% block following_header %}
{{ block.super }}
{% registration_banner %}
{% endblock %}

{% block above_content %}
{{ block.super }}
{% if lead_in_post %}
<div class="">
    <div class="content-inner">
        <div class="post">
            <div class="title">
                {{ lead_in_post.title }}
                <div class="stamp">
                    {% humanize_time_diff lead_in_post.created "Ago" %} 
                    // 
                    <a href="#comments"> 
                        {{ lead_in_post.comment_count }} Comments 
                    </a> 
                    // 
                    {% likes lead_in_post %}
                </div>
            </div>
            <div> </div>
            {% if lead_in_post.get_thumb_url %}
                <img src="{{ lead_in_post.get_thumb_url }}" />
            {% endif %}
            {{ lead_in_post.content|safe }}
        </div>

        {% live_chat_banner %}

        {% get_livechat_for_article lead_in_post "livechat" %}
        {% if livechat %}
            {% include "livechat/embed.html" %}
        {% else %}
            {% object_comments lead_in_post %}
        {% endif %}
    </div>
</div>
{% else %}
    {% live_chat_banner %}
{% endif %}
{% endblock %}

{% block content %}

    {% if object_list %}
    <div class="{{ category.color }}">
        <div class="h1">{{ full_heading }}</div>
        <div class="content-inner">
            <a name="listing-top" />
            <div class="item">
                {% for object in post_list %}
                    {% render_object object "block" %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% block below_listing %}
    {% endblock %}

{% endblock %}
