{% extends "base.html" %}

{% block following_header %}
{% include "mama/inclusion_tags/registration_banner.html" %}
{% endblock %}

{% block above_content %}
<div>
    <div class="{{ category.color }}">
        <div class="h1">MAMA Guides</div>
        <div class="item">&nbsp;</div>
    </div>
    <div class="item">
        <form id="frmSearch" method="get" action="{% url haystack_search %}">
            <div class="row">
                <input type="text" name="q" value="{{ query }}" class="short" />
            </div>
            <div class="row">
                <input type="submit" name="submit" value="Search" class="btn" />
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="{{ category.color }}">
  <div class="content-inner">
    <div class="items">
      <div class="item no-pic">
        <div class="meta">
          <div class="stamp">
            MAMA has so much information to share with you. We have compiled
            the best advice into Guides for you to read. Or its quick to search
            for any key word to find all the information you need on a certain
            topic.
          </div>
        </div>
      </div>

      {% if stages_leaders %}
      <div id="menu">
        {% for item in stages_leaders %}
        <div class="item">
          <a href="{% url guides_topic_list item.slug %}">{{ item.title }}</a>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if life_guide_leaders %}
      <div class="h1">Our Most Popular Guides</div>
      <div id="menu">
        {% for item in life_guide_leaders %}
        <div class="item">
          <a href="{% url guides_topic_list item.slug %}">{{ item.title }}</a>
        </div>
        {% endfor %}
      </div>
      {% endif %}

    </div>
  </div>

  <div class="text_banner">
    <div class="banner_content">
      <p>
      <strong>
        <a href="{% url more_guides_list %}">
          More Guides &gt; 
        </a>
      </strong>    
      </p>
    </div>
  </div>
</div>

{% endblock %}
