{% extends 'base.html' %}

{% load cache mama_inclusion_tags survey_inclusion_tags %}

{% block following_header %}
    <div id="banner"><a href="{% url registration_register %}"><img src="{{ STATIC_URL }}mama/img/banner.jpg" /></a></div>
{% endblock %}

{% block content %}
    {% ages_and_stages %}
    {% cache 3600 home %}
        {% post_listing "articles" %}
        {% post_listing "moms-stories" %}
        {% topic_listing "mama-a-to-z" 0 %}
        {% topic_listing "life-guides" 0 %}
    {% endcache %}
    {% poll_listing %}
    {% show_survey %}
{% endblock %}
