{% extends "base.html" %}

{% comment %}
Used for the More Guides List view
{% endcomment %}

{% load jmbo_inclusion_tags mama_inclusion_tags %}

{% block above_content %}
{{ block.super }}
<div class="{{ category.color }}">
  <div class="h1">
    <a style="color: #ffffff" href="{% url guides_list %}">Guides</a> &gt;
    {{ full_heading }}
  </div>
</div>
{% endblock %}

{% block content %}


    {% if object_list %}
      <div class="text_banner">
        <div class="banner_content">
          <p>
            {% if sort != 'date' %}
            <a href="{% url more_guides_list %}?sort=date&page={{page}}">
              Latest
            </a>
            {% else %}
              Latest
            {% endif %}
            |
            {% if sort != 'pop' %}
            <a href="{% url more_guides_list %}?sort=pop&page={{page}}">
              Popular
            </a>
            {% else %}
              Popular
            {% endif %}
            |
            {% if sort != 'alph' %}
            <a href="{% url more_guides_list %}?sort=alph&page={{page}}">
              Alphabetical
            </a>
            {% else %}
              Alphabetical
            {% endif %}
          </p>
        </div>
      </div>
    </div>

    <div class="{{ category.color }}">
        <div class="content-inner">
            <a name="listing-top"></a>

            <div id="menu">
                {% for object in object_list %}
                <div class="item">
                    <a href="{% url topic_detail object.primary_category.slug object.slug %}">
                      {{ object.title }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% pagination page_obj %}

    {% if object_list %}
    <div class="item back-to-top-link">
        <a href="#listing-top">Back to top &gt;</a>
    </div>
    {% endif %}

    {% block below_listing %}
      <div class="text_banner">
        <div class="banner_content">
          <p>
          <strong>
            <a href="{% url guides_list %}">
              &lt; Back to Life Guides
            </a>
          </strong>    
          </p>
        </div>
      </div>
    {% endblock %}

{% endblock %}

