{% extends 'base.html' %}

{% block content %}
<div class="h1">Forgotten Password</div>
{% if form.errors or form.non_field_errors %}
<div class="errors">
    <p>Oops, please make sure of the following:</p>
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
</div>
{% endif %}

<form method="post" id="frmLogin" action="{% url password_reset %}">
{% csrf_token %}
    <p>Please enter your mobile number and we will send you a new password.</p>
    <div class="row">
        {{ form.mobile_number.label_tag }}
        {% if form.mobile_number.errors %}
            <div class="errors">
                {% for error in form.mobile_number.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.mobile_number }}
    </div>
    <div class="row">
        <input type="submit" name="submit" value="Send" class="btn" />
    </div>
    <div class="clear"></div>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
