/* Reset Elements */
img, a img { border: none; display: block  }
input, select, textarea { outline: none  }

/* Main */
body, input, textarea { font-size: small; font-family: Arial,Helvetica,sans-serif; margin: 0; background-color: #fff; max-width: 320px; }
@font-face { font-family: Din; src: url('DINCond-Bold.otf'); }

/* Typography */
a:link { color: #d92128; text-decoration: none }
a:visited { color: #d92128; text-decoration: none }
a:hover { color: #d92128 ; text-decoration: none }
a:active { color: #d92128; text-decoration: none }

/* Attempt to style the various page headings */
div.h2, 
div#content > div.title, 
div.content > div.title, 
div.view-modifier > div.title, 
div.object-header > div.title, 
div#content > h1,
div.content > h1,
div.member-notifications > div.title,
div.page > div.title,
.foundry-container > div.title,
.object-comments > div.title { background-color: #ef5822; color: #fff; padding: 7px; border: 0; margin: 0; clear: both; font-size: 12px; font-weight: bold; text-align: center; text-transform: uppercase; }

p { margin: 1em 0;  line-height: 1.2em; }

/* Clearer */
.clear { height: 1px; clear: both; font-size: 1px; }

/* Header */
#header { height: auto; padding: 0; }
#header > .items > a { width: 150px; float: left; display: block; color: #fff; }
#header img { width: 150px; height: auto; margin: 10px; }
#header .buttons { float: right; padding: 8px 10px; text-align: center; }
#header .buttons span { display: inline-block; padding: 0 5px; }
#header .buttons a { font-weight: bold; font-size: 11px; color: #d92128; }

/* Footer */
#footer { clear: both; padding: 7px; background: #d92128; font-size: 11px; color: #fff; text-align: center; }
#footer a { color: #fff; }

/* Search */
div#search form { display: none; }

/* Navbar */
.foundry-navbar { background-color: #d92128; color: #fff; padding: 7px 0; clear: both; text-align: center; }
.foundry-navbar a { color: #fff; font-size: 12px; font-weight: bold; text-transform: uppercase; }
.foundry-navbar div.item { display: inline; padding: 0 5px; border-right: solid 1px #fff; }
.foundry-navbar div.active { background-color: #fff; }
.foundry-navbar div.active a { color: #323232; }
.foundry-navbar div.last { border-right: none; }

/* Menu */
.foundry-menu { clear: both; padding: 0px; }
.foundry-menu div.title { margin: 0 !important; background-color: #ef5822; color: #fff; }
.foundry-menu div.item { padding: 7px 0; border-bottom: 1px solid #ddd; background-color: #f9f9f9; padding-left: 5px; font-size: 11px; font-weight: bold; }



/* Structure - Content */
#content {  }

/* Page detail may not have any margin. Undo the above for them. Due to */
/* Django's use of blocks there is no better solution. */
#page-content { margin: -4px; }

/* Listing promo */
.foundry-listing-promo img { width: 100%; max-width: 240px; text-align: center; margin: 0 auto; }
.foundry-listing-promo div.item div.link { background-color: #333; color: #fff; padding: 6px 4px; margin-bottom: 3px; border-bottom: 1px solid #000; font-size: small; }
.foundry-listing-promo div.link a { color: #fff; }

/* Listing horizontal */
.foundry-listing-horizontal { margin: 0; }
.foundry-listing-horizontal div.item { width: 59px; display: inline-block; font-size: smaller; color: #000; padding: 0; margin: 0; border-right: 1px solid #fff; }
.foundry-listing-horizontal div.item img { display: block; float: left; }
.foundry-listing-horizontal div.subtitle { padding: 7px 5px; display: block; color: #666; font-size: 11px; font-weight: bold; text-transform: uppercase; }

/* Listing vertical */
.foundry-listing-vertical div.item { border-bottom: 1px solid #e9e9e9; clear: left; padding: 0; }

/* Listing vertical thumbnail */
.foundry-listing-vertical-thumbnail div.item { border-bottom: 1px solid #e9e9e9; clear: both; padding: 0; min-height: 58px; }
.foundry-listing-vertical-thumbnail div.item img { float: left; }
.foundry-listing-vertical-thumbnail div.item div.title > span { padding: 7px 0 0 0; display: block; color: #666; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.foundry-listing-vertical-thumbnail div.item div.title > span a { color: #ef5822; }
.foundry-listing-vertical-thumbnail div.item div.title > a { font-size: 11px; text-decoration: underline; }
.foundry-listing-vertical-thumbnail div.item div.meta { padding: 4px 0 5px 0; }
.foundry-listing-vertical-thumbnail div.item div.meta > div.byline,
.foundry-listing-vertical-thumbnail div.item div.meta > div.comments { display: inline; }
.foundry-listing-vertical-thumbnail div.item div.meta > div.description { display: none; }
.foundry-listing-vertical-thumbnail div.item-nothumb { padding: 6px 0; min-height: 0; }
.foundry-listing-vertical-thumbnail div.item-nothumb > div.title { display: block; }
.foundry-listing-vertical-thumbnail div.item-nothumb > div.title > span { float: left; padding: 2px 5px; }
.foundry-listing-vertical-thumbnail div.item-nothumb > div.meta { display: none!important; }

/* Category list */
.foundry-category-list div.pinned-items div.item { border-bottom: 1px solid #e9e9e9; clear: left; padding: 0.5em 0; min-height: 50px; background-color: #f1f1f1; padding: 0.5em 3px; }
.foundry-category-list > div.title { background-color: #f1f1f1; padding: 3px; border-bottom: 1px solid #ddd; margin-bottom: 3px; clear: both; }

/* Category detail */
.foundry-category-detail > div.title { background-color: #f1f1f1; padding: 3px; border-bottom: 1px solid #ddd; margin-bottom: 3px; clear: both; }
.foundry-category-detail > div.intro { border-bottom: 1px solid #e9e9e9; clear: left; padding: 0.5em 0; min-height: 58px; background-color: #f1f1f1; padding: 0.5em 3px; border: none; }
.foundry-category-detail div.intro > div.object-header > div.title { background-color: transparent; padding: 0; border: 0; margin: 0; clear: none; }

/* Poll */
.poll-widget-inclusion { margin: 7px 4px; color: #666; }
.poll-widget-inclusion .title { font-weight: bold; }
.poll-widget-inclusion form { margin: 4px 0; }
table.poll-results { margin: 10px 0 0 0; }
table.poll-results td { padding: 5px; }
table.poll-results td.bar { width: 150px; }
table.poll-results tr.poll-result-1 td.bar > div { background-color: #f9a41a; }    
table.poll-results tr.poll-result-2 td.bar > div { background-color: #f9a41a; }    
table.poll-results tr.poll-result-3 td.bar > div { background-color: #f9a41a; }    
table.poll-results tr.poll-result-4 td.bar > div { background-color: #f9a41a; }    
table.poll-results tr.poll-result-5 td.bar > div { background-color: #f9a41a; }    
table.poll-results tr.poll-result-6 td.bar > div { background-color: #f9a41a; }   

/* Pagination */
.pagination { padding: 7px 5px; font-size: 11px; text-align: center; color: #666; } 

/* Sub Nav */
.sub-nav .foundry-navbar { background: #e5e5e5; text-align: left; padding: 5px 3px 6px 3px; }
.sub-nav .foundry-navbar .item {  border-right: 1px solid #bfbfbf; padding: 0 5px; }
.sub-nav .foundry-navbar .last { border: 0; }
.sub-nav .foundry-navbar a { color: #ef5822; text-transform: none; font-size: 11px; }

/* Post */
.post-title { padding: 7px 7px 0 7px; font-size: 14px; font-weight: bold; color: #666; }
.post { margin: 4px; color: #666; }
.post img { float: left; padding: 0 15px 15px 0; }

/* Object Header */
.object-header .meta { margin: 7px 7px 0 7px; }
.object-header .meta .byline, 
.object-header .meta .comments,
.object-header .meta .likes { display: inline-block; }
.object-header .meta .likes { padding: 0 0 0 5px; border-left: 1px solid #666; }

/* Social */
.item-social { clear: both; display: inline; border: 0!important; color: #666; font-weight: bold; font-size: 11px; }
.item-social img,
.item-social a { border: 0!important; }
.item-social .left { float: left; margin: 7px; display: inline-block; }
.item-social .tw,
.item-social .fb { margin: 6px 5px 0 0; display: inline-block; border: 0; }

/* Comments in Profile */
.item-comments table { padding: 7px; color: #666; }
.item-comments table tr,
.item-comments table td,
.item-comments table th { padding: 0; margin: 0; text-align: left; font-size: 11px; vertical-align: top; }
.item-comments table td { padding: 0 7px; }
.item-comments table td a { display: block; }
.item-comments .total-comments { display: none; }

/* Notices */
.item-notice { margin: 5px; border: 0!important; }

.title-inner { background: #e0e0e0!important; color: #666!important; }

/* Additional styles that can be applied to tiles */
/* Softcoded tile-based header */
div.header-logo { float: left; background-color: #000; width: 40%; height: 26px; }
.header-links  { float: right; background-color: #000; width: 60%; height: 26px; }
.header-links div.items { padding: 1px 2px 1px 3px; float: right; }

/* todo: Fix these below */
.meta { font-size: smaller; color:#666 }
.byline:first-letter { text-transform: capitalize; }
img.left { float: left; margin-right: 5px }
.hide-title > .title { display: none; }