{% extends "base.html" %}
{% load cache %}
{% load jmbo_inclusion_tags %}
{% load mama_inclusion_tags %}
{% load jmbo_template_tags %}
{% load likes_inclusion_tags %}
{% load livechat_tags %}
{% load survey_inclusion_tags %}
{% load mama_template_tags %}

{% block content %}
    <div class="{{ category.color }}">
        {% with color=category.color %}
            {% if color == 'yorange' %}
                {% mxit_title_bar foreground_color='#FFFFFF' background_color='#FF6A15' text=category.title %}
            {% elif color == 'dorange' %}
                {% mxit_title_bar foreground_color='#FFFFFF' background_color='#FF6A15' text=category.title %}
            {% elif color == 'maroon' %}
                {% mxit_title_bar foreground_color='#FFFFFF' background_color='#B22A2D' text=category.title %}
            {% elif color == 'purple' %}
                {% mxit_title_bar foreground_color='#FFFFFF' background_color='#872E4D' text=category.title%}
            {% else %}
                <!-- Default black and white -->
                {% mxit_title_bar foreground_color='#000000' background_color='#FFFFFF' text=category.title %}
            {% endif %}
        {% endwith %}
        <div class="content-inner">
            <div class="post">
                <h2>{{ object.title }}</h2>
                <div class="title">
                    {% if object.comments_enabled %}
                        <div class="stamp">
                            {% humanize_time_diff object.created "Ago" %} // {{ object.comment_count }} Comments
                        </div>
                    {% endif %}
                </div>
                {% if object.get_thumb_url %}
                    <img src="{{ object.get_thumb_url }}" />
                <br/>
                {% endif %}
                {{ object.content|safe }}
            </div>
            {% cache 3600 links object.id %}
            <div class="post-menu">
                <div class="items">
                    {% with object.link_target_set.all as links %}
                        {% for link in links %}
                            {% if link.target.is_permitted %}
                                <div class="item"><a href="{{ link.target.get_absolute_category_url }}">&raquo; {% if link.title %}{{ link.title }}{% else %}{{ link.target.title }}{% endif %}</a></div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
            {% endcache %}

            {% include 'mama/includes/comments_include_no_likes.html' %}

            {% cache 3600 baby_center_byline object.id %}
                {% babycenter_byline object %}
            {% endcache %}
        </div>
    </div>

    {% post_content_quizzes object %}

    {% cache 3600 topic_listing category.slug %}
        {% topic_listing category.slug 1 5 %}
    {% endcache %}
    <br/>
    {% cache 3600 nav_links object.id %}
                    {% with object.navigation_link_target_set.all as navigation_links %}
                        {% if navigation_links %}
                            <div class="post-menu">
                                <div class="items">
                                    <div class="item-nav">
                                        {% for navigation_link in navigation_links %}
                                            <a href="{{ navigation_link.target.get_absolute_category_url }}">&laquo; Back to {% if navigation_link.title %}{{ navigation_link.title }}{% else %}{{ navigation_link.target.title }}{% endif %}</a><br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
    {% endcache %}

{% endblock %}
