{% load jmbo_template_tags mama_inclusion_tags likes_inclusion_tags %}

{{ object.title }}
{% if object.comments_enabled %}
    {% humanize_time_diff object.created "Ago" %} // <a href="#comments">{{ object.comment_count }} Comments</a> // {% likes object %}
{% endif %}
{{ object.content|safe }}

{% with object.link_target_set.all as links %}
    {% for link in links %}
        {% if link.target.is_permitted %}
            <div class="item"><a href="{{ link.target.get_absolute_category_url }}">&raquo; {% if link.title %}{{ link.title }}{% else %}{{ link.target.title }}{% endif %}</a></div>
        {% endif %}
    {% endfor %}
{% endwith %}

{% babycenter_byline object %}

{% with object.navigation_link_target_set.all as navigation_links %}
    {% if navigation_links %}
        {% for navigation_link in navigation_links %}
            <a href="{{ navigation_link.target.get_absolute_category_url }}">&laquo; Back to {% if navigation_link.title %}{{ navigation_link.title }}{% else %}{{ navigation_link.target.title }}{% endif %}</a><br />
        {% endfor %}
    {% endif %}
{% endwith %}
