{% load jmbo_template_tags %}

<div class="item{% if not object.image %} no-pic{% endif %}">
    <div class="meta">
        <div class="stats">
          {{ object.primary_category.title }}
          {% if object.comments_enabled %}
          | {{ object.comment_count }} Comments
          {% endif %}
        </div>
        <div class="title"><a href="{{ object.get_absolute_category_url }}">{{ object.title }}</a></div>
        <div class="stamp bigger">
            {% if object.description %}
              {{ object.description|truncatewords:10 }}
            {% endif %}
        </div>
    </div>
    <span>---</span>
</div>
