{% extends 'base.html' %}
{% load i18n %}

{% block extra_script %}
<!-- Facebook Conversion Code for Registrations - A4W Live -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6027071354536', {'value':'0.00','currency':'CAD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6027071354536&amp;cd[value]=0.00&amp;cd[currency]=CAD&amp;noscript=1" /></noscript>
{% endblock %}

{% block content %}

<form method="post" id="frmLogin" action="{% url login %}" class="form-sign-in highlight-primary">

<fieldset>
<p><br/>
<b>{% trans "Thank you for joining A4W!" %}</b><br /></p>

    <a href="{% url home %}">{% trans "Take me to the home page" %}&gt;</a>
</fieldset>
</form>
{% endblock %}

{% block footer %}

{% endblock %}
