{% extends 'base.html' %}
{% load i18n %}
{% block nav_script %}{% endblock %}
{% block nav %}{% endblock %}
{% block menu %}{% endblock %}
{% block menu_forms %}{% endblock %}

{% block content %}

<form method="post" id="frmLogin" action="{% url login %}" class="form-sign-in highlight-primary">

<fieldset>
<p><br/>
<b>{% trans "Thank you for joining A4W!" %}</b><br /></p>

    <a href="{% url home %}">{% trans "Take me to the home page" %}&gt;</a>
</fieldset>
</form>
{% endblock %}

{% block footer %}

{% endblock %}
