{% load comments %}
{% load moderator_inclusion_tags %}
{% load pml_inclusion_tags %}

{% if can_comment %}

    {% header 'Comments' %}

    {% for comment in comments %}

      <MODULE>
        <CONTAINER type="data">
          <TEXT>
            <b>{{ comment.name }}</b><br/>
            {{ comment.submit_date }}
            {% if not comment.user.is_staff and comment.user != request.user %}
                        {% if not comment.is_removed %}
                            | | <LINK href="{% url confirm_comment comment.content_type comment.id %}?next={{request.path}}"><TEXT>Report</TEXT></LINK>
                        {% endif %}
            {% endif %}
            <br/>
            {% if comment.is_removed and user.is_banned %}
                  <p>This comment has been reported by the community and the user has been banned</p><br/>
                  <p>Don't know the commenting rules?</p> <LINK href="{% url comment-terms %}"><TEXT>Read them here</TEXT></LINK>
            {% elif comment.is_removed and not user.is_banned %} %}
                <p>This comment has been removed</p><br/>
                <p>Don't know the commenting rules?</p> <LINK href="{% url comment-terms %}"><TEXT>Read them here</TEXT></LINK>
            {% else %}
            {{ comment.comment|linebreaks }}<br/>
            {% endif %}
          {% for commentreply in comment.replied_to_comments_set.all %}
              <b>{{ commentreply.user.first_name }}</b><br/>
                  {{ commentreply.comment_text|linebreaks }}
          {% endfor %}
          </TEXT>
        </CONTAINER>
      </MODULE>

    {% empty %}

      <MODULE>
        <CONTAINER type="data">
          <TEXT>
            No comments yet.
          </TEXT>
        </CONTAINER>
      </MODULE>

    {% endfor %}

    {% if more_comments %}
    <MODULE>
      <CONTAINER type="data">
        <TEXT>
          <LINK href="{% url story_comments_list category.slug object.slug %}">
          <TEXT>More Comments &gt;</TEXT>
          </LINK>
        </TEXT>
      </CONTAINER>
    </MODULE>
    {% endif %}

    {% include 'mama/includes/comments_new_system.html' %}
{% endif %}
