{% load comments %}
{% load likes_inclusion_tags %}
{% load moderator_inclusion_tags %}
{% load pml_inclusion_tags %}

{% if can_comment %}

    {% header 'Comments' %}

    {% for comment in comments %}

      <MODULE>
        <CONTAINER type="data">
          <TEXT>
            <b>{{ comment.name }}</b><br/>
            {{ comment.submit_date }} | {% likes comment %} {% report_comment_abuse comment %}<br/>
            {{ comment.comment|linebreaks }}<br/>
          </TEXT>
        </CONTAINER>
      </MODULE>

    {% empty %}

      <MODULE>
        <CONTAINER type="data">
          <TEXT>
            No comments yet.
          </TEXT>
        </CONTAINER>
      </MODULE>

    {% endfor %}

    {% if more_comments %}
    <MODULE>
      <CONTAINER type="data">
      <LINK href="{% url story_comments_list category.slug object.slug %}">
      <TEXT>More Comments &amp;gt;</TEXT>
      </LINK>
      </CONTAINER>
    </MODULE>
    {% endif %}

    {% render_comment_form for object %}
{% endif %}
