{% extends "base.html" %}

{% load livechat_tags %}

{% block above_content %}
{{ block.super }}
{% endblock %}

{% block content %}
{% show_live_chat %}
{% endblock %}
{% block searchlink %}
        <p>
            <form name="search-form" action="{% url haystack_search_askmama %}" method="get">
            <input type="text" name="q" class="txt"{% if request.GET.q %} value="{{ request.GET.q }}"{% endif %} />
            <input type="submit" name="search-btn" value="Search" />
            </form>
        </p>
{% endblock %}