<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="description" content="Airtel Web Ghana" />
    <meta property="og:title" content="Airtel Web Ghana" />
    <meta property="og:description" content="Jmbo is a mobile-focused content delivery platform for the delivery of dynamic experiences to audiences in emerging markets." />
    <meta property="og:image" content="/static/images/logo.png" />
    <title>MAMA - Mobile Alliance for Maternal Action</title>
    <link href="{{ STATIC_URL }}/mama/css/main.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/mama/css/tile.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/mama/css/comment.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/mama/css/forms.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/mama/css/gallery.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/mama/css/promo.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/mama/css/custom.css" rel="stylesheet" type="text/css" />    
</head>

<body>
    <div id="header">
        <div class="items">
            <a href="{% url home %}"><img src="{{ STATIC_URL }}/mama/images/logo.png" alt="" /></a>
            <div class="buttons">
                  <span><a href="profile.html">My Profile</a></span>
          	</div>
        </div>    
    </div><!--/Header-->

    <div class="foundry-container foundry-navbar">
        <div class="items">
            <div class="item first"><a href="{% url home %}">Home</a></div>
            <div class="item"><a href="articles.html">BC Content</a></div>
            <div class="item"><a href="articles.html">MAMA SA</a></div>
            <div class="item"><a href="articles.html">Articles</a></div>
            <div class="item last"><a href="blogs.html">Stories</a></div>
        </div>
    </div><!--/Navbar-->

    <div id="content">        

        <div class="content">
            {% block content %}
            {% endblock %}

            <div class="foundry-container foundry-listing-vertical-thumbnail">
                <div class="foundry-page-tile">
                    <div class="foundry-container foundry-listing-vertical-thumbnail">
                        <div class="title">Share This Site</div>
                        <div class="items">
                            <div class="item first last item-social">
                                <div class="left">Share This:</div>
                                <div class="fb"><a href="/share/facebook/" target="_blank"><img src="{{ STATIC_URL }}/mama/images/facebook.png" border="0" /></div>
                                <div class="tw"><a href="/share/twitter/" target="_blank"><img src="{{ STATIC_URL }}/mama/images/twitter.png" border="0" /></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--/Page-Content-->
    </div><!--/Content-->

    <div id="footer">
       <span><a href="about.html">About us</a></span> - <span><a href="contact.html">Contact us</a></span> - <span><a href="terms.html">Terms</a> - <span><a href="login.html">Sign Out</a></span><br />&copy; MAMA 2012</span>
    </div><!--/Footer-->

</body>
</html>
