{% extends 'pml/base.xml' %}

{% load pml_inclusion_tags %}

{% block body %}

    {% header competition.title 'orange' %}

    <MODULE>
    <CONTAINER type="form">
        <FORM method="GET" 
              href="/yourwords/{{competition.id}}/" 
              submit_text="Submit">
            <FIELD name="csrfmiddlewaretoken" 
                   value="{{ csrf_token }}" 
                   type="hidden" />
            {% for field in form %}
            {{ field }}<br />
            {% endfor %}
        </FORM>
    </CONTAINER>
    </MODULE>

    <MODULE>
    <CONTAINER type="data">
    <TEXT>{{ competition.terms_and_conditions }}</TEXT>
    </CONTAINER>
    </MODULE>

{% endblock %}
