{% extends "base.html" %}

{% comment %}
Used for Mom's Stories, Articles and Guides
{% endcomment %}

{% load jmbo_inclusion_tags mama_inclusion_tags %}

{% block following_header %}
{{ block.super }}
{% registration_banner %}
{% endblock %}

{% block above_content %}
<div>
    <div class="h1">Search</div>
    <div class="item">
        <form id="frmSearch" method="get" action="{% url haystack_search %}">
            <div class="row">
                <input type="text" name="q" value="{{ query }}" class="short" />
            </div>
            <div class="row">
                <input type="submit" name="submit" value="Search" class="btn" />
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}

    {% comment %}
    {% block above_listing %}
        {% topic_listing category.slug 0 %}
    {% endblock %}
    {% endcomment %}

    {% if object_list %}
    <div class="{{ category.color }}">
        <div class="h1">{{ full_heading }}</div>
        <div class="content-inner">
            <a name="listing-top" />
            <div class="item">
                {% for object in post_list %}
                    {% render_object object "block" %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% pagination page_obj %}

    {% if object_list %}
    <div class="item back-to-top-link">
        <a href="#listing-top">Back to top ></a>
    </div>
    {% endif %}

    {% block below_listing %}
    {% endblock %}

    {% block footer_search_form %}
    {% endblock %}

{% endblock %}
