<div id="site">askmama.mobi</div>
<div id="header">
    <div class="logo">
        <a href="{% url home %}"><img src="{{ STATIC_URL }}mama/img/logo.png" border="0" /></a>
    </div>
    <div class="deets">
        <a href="{% url home %}">Home</a>{% if help_post %} | <a href="{{ help_post.get_absolute_category_url }}">{{ help_post.title }}</a>{% endif %}
    </div>
    <div class="nav">
        <a href="{% url category_object_list 'mama-a-to-z' %}">Mama A-to-Z</a> | 
        <a href="{% url category_object_list 'life-guides' %}">Life Guides</a> | 
        <a href="{% url category_object_list 'articles' %}">Articles</a> | 
        <a href="{% url category_object_list 'moms-stories' %}">Moms' Stories</a>
    </div>
</div>

<div id="divider"><img src="{{ STATIC_URL }}mama/img/divider.jpg" /></div>
