                            <div class="item first item-post">
                                <a href="post.html"><img src="images/happy.png" class="left" /></a>
                                <div class="title">
                                    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                                </div>
                                <div class="meta">
                                    <div class="byline">Today</div> // <div class="comments">(5 comments)</div>
                                    <div class="description">This is the post description... </div>
                                </div>
                            </div>
