{% extends 'base.html' %}

{% block content %}
<h1>Sign Up</h1>
<div class="content-inner">
    <div class="post">
        <b>Thank you for registering with askMAMA.mobi</b><br />
        Remember to sign in each week to see the latest information on your
        baby's growth and development. You will see this on the top of the home
        page. You can also now ask our experts questions.
    </div>

    <div class="text_banner">
        <div class="banner_content">
            <p>
            <strong>
                <a href="{% url view_my_profile %}">
                    Edit my Profile &gt;
                </a><br/>
                <a href="{% url home %}">
                    Take me to my weekly update &gt;
                </a><br/>
                <a href="{% url askmama_detail %}">
                    I want to ask an expert &gt;
                </a>
            </strong>    
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}
